 .screen-reader-text {
     border: 0;
     clip: rect(1px, 1px, 1px, 1px);
     clip-path: inset(50%);
     height: 1px;
     margin: -1px;
     overflow: hidden;
     padding: 0;
     position: absolute;
     width: 1px;
     word-wrap: normal !important;
 }
 
 .screen-reader-text:focus {
     background-color: #eee;
     clip: auto !important;
     clip-path: none;
     color: #444;
     display: block;
     font-size: 1em;
     height: auto;
     left: 5px;
     line-height: normal;
     padding: 15px 23px 14px;
     text-decoration: none;
     top: 5px;
     width: auto;
     z-index: 100000;
     /* Above WP toolbar. */
 }
 
 html {
     // 1rem = 10px
     font-size: 10px;
 }
 
 body {
     line-height: 1.4;
     color: $gray;
     font-size: 1.6rem;
     font-family: Montserrat, Arial, sans-serif;
     @media screen and (max-width: $tablet_width) {
         font-size: 1.6rem;
     }
     @media screen and (max-width: $mobile_width) {
         font-size: 1.4rem;
     }
     overflow-x: hidden;
     overflow-y: visible;
 }
 
 html {
     scroll-behavior: smooth;
 }
 
 h1 {
     font-size: 2.5rem;
     @media screen and (max-width: $tablet_width) {
         line-height: 1.2;
     }
     @media screen and (max-width: $mobile_width) {
         line-height: 1;
     }
 }
 
 ul {
     list-style-type: none;
     li {
         padding: 0;
     }
 }
 
 blockquote {
     border-left: solid 2px $gray;
     padding-left: 1em;
     font-style: italic;
 }
 
 a {
     color: $gray;
     &:hover {
         transition: color .6s;
         color: lighten($gray, 10%);
     }
 }
 
 .posts-navigation {
     text-align: center;
     margin: 2em 0;
     .nav-links>div {
         display: inline-block;
         padding: 0 1em;
     }
 }
 
 .entry-meta {
     //text-align: right;
 }

 
 button,
 .button {
     display: inline-block;
     //position:relative;
     //text-transform: uppercase;
     font-size: 15px;
     font-weight: bold;
     border: 1px solid $transparent;
     border-radius: 0;
     background: $gray;
     color: $white;
     min-width: 125px;
     margin: .25em;
     padding: .5em .75em;
     text-align: center;
     cursor: pointer;
     text-decoration: none;
 }
 
 svg {
     max-width: 50px;
 }
 
 // GENERAL LAYOUT [Wrapper, ]
 .wrapper {
     //on desktop
     /*
     @media screen and (min-width: $desktop_width) {
        width: calc(100% - 6em);
     }
     */
     box-sizing: border-box;
     max-width: $wide_width;
     margin:auto;
     padding-left: 1em;
     padding-right: 1em;
     @media screen and (min-width: $mobile_width) {
        padding-left: 2em;
        padding-right: 2em;
        @media screen and (min-width: $tablet_width) {
            padding-left: 3em;
            padding-right: 3em;
            @media screen and (min-width: $desktop_width) {
                padding-left: 6em;
                padding-right: 6em;
             }
         }
     }
 }
 
 .isHiddenOnMobile {
     @media screen and (max-width: $desktop_width) {
         display: none;
     }
 }
 
 .isHiddenOnDesktop {
     @media screen and (min-width: $desktop_width) {
         display: none;
     }
 }
 
 // USEFULL Style
 .hasBorderBottom {
     margin-bottom: 4.8rem;
     position: relative;
 }
 
 .hasBorderBottom::after {
     position: absolute;
     content: " ";
     width: 10rem;
     height: 4px;
     background: currentColor;
     bottom: 10rem;
     left: 50%;
     transform: translate(-50%, 0);
     bottom: -2.4rem;
 }
 
 // Font color
 .isWhite {
     color: $white;
 }
 
 .isBlack {
     color: $black;
 }
 
 .isDarkBlue {
     color: $circulab_dark_blue;
 }
 
 .isPink {
     color: $circulab_pink;
 }
 
 .isGreen {
     color: $circulab_green;
 }
 
 // BackgroundColor
 .hasPinkBg {
     background-color: $circulab_pink;
 }
 
 .hasBlueBg {
     background-color: $circulab_blue;
 }
 
 .hasLightBlueBg {
     background-color: $circulab_light_blue;
 }
 
 .hasGreenBg {
     background-color: $circulab_green;
 }
 
 .hasWhiteBg {
     background-color: $white;
 }
 
 .hasRedBg {
     background-color: $circulab_red;
 }
 
 .hasPurpleBg {
     background-color: red;
 }
 
 //.hasOrangeBg {
 //background-color: : $circulab_orange;
 //}
 // Button Style
 .buttonBlue {
     @extend .hasBlueBg;
     &:focus {
         background-color: darken($circulab_blue, 20%);
     }
 }
 
 .buttonHeader {
     @extend .hasPinkBg;
     border: 1px solid $white;
     &:hover {
         background-color: $white;
         color: $black;
         border: 1px solid $black;
     }
 }
 
 .buttonPink {
     @extend .hasPinkBg;
     &:focus {
         background-color: darken($circulab_pink, 20%);
     }
 }
 
 .buttonGreen {
     @extend .hasGreenBg;
     &:focus {
         background-color: darken($circulab_green, 20%);
     }
 }
 
 .buttonLightBlue {
     background-color: $circulab_light_blue;
     &:focus {
         background-color: darken($circulab_light_blue, 20%);
     }
 }
 
 .buttonGhost,
 .rounded-corner {
     background-color: $transparent;
     border: 1px solid $white;
     &:focus {
         background-color: rgba(0, 0, 0, 0.2);
     }
 }
 
 .buttonBlue,
 .buttonPink,
 .buttonGreen,
 .buttonGhost {
     color: $white;
     border: 1px solid $transparent;
     &:hover {
         background-color: $white;
         color: $black;
         border: 1px solid $black;
     }
     &:active {
         color: $circulab_pink;
     }
 }
 
 .buttonGhost:hover {
     box-shadow: none;
 }
 
 a.button,
 .button,
 .rounded-corner,
 .buttonBlue,
 .buttonPink,
 .buttonGreen,
 .buttonGhost,
 .buttonHeader {
     padding: 1rem 1.75rem;
     border-radius: 2.5rem;
     transition: all .5s;
 }
 
 .input {
     border-radius: 5px;
 }
 
 // Title Font
 @font-face {
     font-family: "Futura PT W02 Demi";
     src: url("font/FuturaPT-Regular.woff2") format("woff2"), url("font/FuturaPT-Regulart.woff") format("woff"), url("font/FuturaPT-Regulart.ttf") format("ttf"), url("font/FuturaPT-Regulart.eot") format("eot");
 }
 
 .fontTitle {
     font-family: "Futura PT W02 Demi", Arial, sans-serif;
 }
 
 .iframe-container {
     position: relative;
     padding-bottom: 56.25%;
     padding-top: 30px;
     height: 0;
     overflow: hidden;
 }
 
 .iframe-container iframe,
 .iframe-container object,
 .iframe-container embed {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }
 
 .blocCirculabContent img,
 .bloc-paragraphe-container img {
     max-width: 100% !important;
     height: auto;
 }