// generic colors
$white: #fff;
$black: #000;
$gray: #333;
$lightGray: #B1AAAA;
$transparent: rgba(255, 255, 255, 0);
// brand colors
$circulab_pink: #FA7268;
$circulab_light_blue: #5369FF;
$circulab_blue: #011BC8;
$circulab_green: #13D4EB;
$circulab_light_green: #18edbb;
$circulab_dark_blue: #021744;
$circulab_red: #FE281E;
$circulab_purple: #6144C5;
$circulab_orange: #FF6907;
$backgroundModal: rgba(221, 82, 65, 0.95);
$backgroundForm: rgba(83, 105, 255, 0.1);
// Breakpoints  - Screen Size
$mobile_width: 400px;
$tablet_width: 800px;
$desktop_width: 1024px;
//$wide_width: 1440px;
$wide_width: 1400px;
// Font weight
$light: 300;
$regular: 400;
$bold: 700;