@charset "UTF-8";
/*
Theme Name: I Have a Green
Theme URI: https://ihaveagreen.fr
Author: I Have a Green
Author URI: https://ihaveagreen.fr
Description: Thème enfant de Susty 
Version: 1.0
Template: susty-master
Text Domain: circulab
*/
/* Normalize */
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

html {
  font-size: 10px;
}

body {
  line-height: 1.4;
  color: #333;
  font-size: 1.6rem;
  font-family: Montserrat, Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: visible;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 400px) {
  body {
    font-size: 1.4rem;
  }
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.5rem;
}

@media screen and (max-width: 800px) {
  h1 {
    line-height: 1.2;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    line-height: 1;
  }
}

ul {
  list-style-type: none;
}

ul li {
  padding: 0;
}

blockquote {
  border-left: solid 2px #333;
  padding-left: 1em;
  font-style: italic;
}

a {
  color: #333;
}

a:hover {
  transition: color .6s;
  color: #4d4d4d;
}

.posts-navigation {
  text-align: center;
  margin: 2em 0;
}

.posts-navigation .nav-links > div {
  display: inline-block;
  padding: 0 1em;
}

button,
.button {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 0;
  background: #333;
  color: #fff;
  min-width: 125px;
  margin: .25em;
  padding: .5em .75em;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

svg {
  max-width: 50px;
}

.wrapper {
  /*
     @media screen and (min-width: $desktop_width) {
        width: calc(100% - 6em);
     }
     */
  box-sizing: border-box;
  max-width: 1400px;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
}

@media screen and (min-width: 400px) {
  .wrapper {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media screen and (min-width: 400px) and (min-width: 800px) {
  .wrapper {
    padding-left: 3em;
    padding-right: 3em;
  }
}

@media screen and (min-width: 400px) and (min-width: 800px) and (min-width: 1024px) {
  .wrapper {
    padding-left: 6em;
    padding-right: 6em;
  }
}

@media screen and (max-width: 1024px) {
  .isHiddenOnMobile {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .isHiddenOnDesktop {
    display: none;
  }
}

.hasBorderBottom {
  margin-bottom: 4.8rem;
  position: relative;
}

.hasBorderBottom::after {
  position: absolute;
  content: " ";
  width: 10rem;
  height: 4px;
  background: currentColor;
  bottom: 10rem;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -2.4rem;
}

.isWhite {
  color: #fff;
}

.isBlack {
  color: #000;
}

.isDarkBlue {
  color: #021744;
}

.isPink {
  color: #FA7268;
}

.isGreen {
  color: #13D4EB;
}

.hasPinkBg, .buttonHeader, .buttonPink {
  background-color: #FA7268;
}

.hasBlueBg, .buttonBlue {
  background-color: #011BC8;
}

.hasLightBlueBg {
  background-color: #5369FF;
}

.hasGreenBg, .buttonGreen {
  background-color: #13D4EB;
}

.hasWhiteBg {
  background-color: #fff;
}

.hasRedBg {
  background-color: #FE281E;
}

.hasPurpleBg {
  background-color: red;
}

.buttonBlue:focus {
  background-color: #000d63;
}

.buttonHeader {
  border: 1px solid #fff;
}

.buttonHeader:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.buttonPink:focus {
  background-color: #f41808;
}

.buttonGreen:focus {
  background-color: #0b7f8d;
}

.buttonLightBlue {
  background-color: #5369FF;
}

.buttonLightBlue:focus {
  background-color: #001eec;
}

.buttonGhost,
.rounded-corner {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
}

.buttonGhost:focus,
.rounded-corner:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.buttonBlue,
.buttonPink,
.buttonGreen,
.buttonGhost {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
}

.buttonBlue:hover,
.buttonPink:hover,
.buttonGreen:hover,
.buttonGhost:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.buttonBlue:active,
.buttonPink:active,
.buttonGreen:active,
.buttonGhost:active {
  color: #FA7268;
}

.buttonGhost:hover {
  box-shadow: none;
}

a.button,
.button,
.rounded-corner,
.buttonBlue,
.buttonPink,
.buttonGreen,
.buttonGhost,
.buttonHeader {
  padding: 1rem 1.75rem;
  border-radius: 2.5rem;
  transition: all .5s;
}

.input {
  border-radius: 5px;
}

@font-face {
  font-family: "Futura PT W02 Demi";
  src: url("font/FuturaPT-Regular.woff2") format("woff2"), url("font/FuturaPT-Regulart.woff") format("woff"), url("font/FuturaPT-Regulart.ttf") format("ttf"), url("font/FuturaPT-Regulart.eot") format("eot");
}

.fontTitle, .pageTitleContainer {
  font-family: "Futura PT W02 Demi", Arial, sans-serif;
}

.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blocCirculabContent img,
.bloc-paragraphe-container img {
  max-width: 100% !important;
  height: auto;
}

#mastheadAnchor {
  position: relative;
}

header#masthead {
  background: #FA7268;
  width: auto;
  z-index: 1000 !important;
}

@media screen and (max-width: 1024px) {
  header#masthead {
    position: absolute;
    padding: 0.5rem 0;
  }
}

@media screen and (min-width: 1024px) {
  header#masthead {
    position: fixed;
    padding: 1rem 0;
    transition: box-shadow .4s;
  }
  header#masthead.hasShadow {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  }
}

@media screen and (min-width: 1024px) {
  .pageTitleContainer {
    color: #fff;
    text-shadow: 0 0 6px #FA7268;
  }
}

@media screen and (max-width: 1023px) {
  .pageTitleContainer {
    color: #FA7268;
  }
}

.pageTitle,
.homeTitle,
.pageExcerpt {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.pageTitle {
  line-height: 1.5;
  margin-bottom: 6rem;
}

.pageTitle strong {
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .pageTitle {
    font-size: 4.2rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 400px) {
  .pageTitle {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 400px) {
  .pageTitle {
    font-size: 2.4rem;
  }
}

.homeTitle {
  line-height: 1.2;
  margin-bottom: 4rem;
}

@media screen and (min-width: 1024px) {
  .homeTitle {
    font-size: 4vw;
  }
}

@media screen and (max-width: 1024px) and (min-width: 400px) {
  .homeTitle {
    font-size: 3.25rem;
  }
}

@media screen and (max-width: 400px) {
  .homeTitle {
    font-size: 2.4rem;
  }
}

.pageExcerpt {
  line-height: 1.2;
  margin-bottom: 4rem;
}

@media screen and (min-width: 1024px) {
  .pageExcerpt {
    font-size: 2.8rem;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1024px) and (min-width: 400px) {
  .pageExcerpt {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 400px) {
  .pageExcerpt {
    font-size: 2rem;
  }
}

.watermark {
  text-align: center;
}

@media screen and (min-width: 800px) {
  .watermark {
    position: relative;
  }
  .watermark::after {
    position: absolute;
    top: -30px;
    left: -60px;
    content: "";
    width: 200px;
    height: 200px;
    background-image: url(image/watermark.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 800px) and (min-width: 1400px) {
  .watermark::after {
    width: 24vw;
    height: 24vw;
  }
}

.home .pageTitleContainer {
  text-align: center;
  box-sizing: border-box;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .home .pageTitleContainer {
    min-height: 25vw;
  }
  .home .pageTitleContainer * {
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1400px) {
  .home .pageTitleContainer * {
    max-width: 50vw;
  }
}

header#masthead {
  top: 0;
  margin: 0;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  header#masthead .wrapper, .menuTopbar {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1024px) {
  header#masthead .wrapper, .menuTopbar {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }
}

.menuTopbar {
  width: 100%;
  font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {
  .menuTopbarLogoDesktop {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .menuTopbarLogoDesktop.menuMobileOpen {
    box-shadow: 0 1px 0 #fff;
  }
}

@media screen and (min-width: 1024px) {
  .menuTopbarNav, #menu-menu_header, #menu > .primary {
    display: flex;
    flex-flow: row;
    align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .menuTopbarNav, #menu-menu_header, #menu > .primary {
    display: flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
  }
  .menuTopbarNav #menu, #menu-menu_header #menu, #menu > .primary #menu {
    margin: auto;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    text-align: left;
  }
  .menuTopbarNav .sub-menu, #menu-menu_header .sub-menu, #menu > .primary .sub-menu {
    padding-left: 2rem;
    text-align: left;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .polylang_switch, .buttonModal {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  #menuTopbar .menu-item a {
    display: flex;
    flex-flow: column;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  #menuMobile {
    display: none;
  }
  #menuMobile.menuMobileOpen {
    display: flex;
    padding: 2rem 0;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .menu-item a, .polylang_switch {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .menu-item {
    margin: 1.5rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .menuConnect, .polylang_switch {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 1024px) {
  .menuConnect, .polylang_switch {
    margin-left: auto;
    margin-right: auto;
  }
}

.menuTopbar ul {
  margin: 0;
  padding: 0;
}

.menu-item a {
  text-decoration: none;
  color: #fff;
}

.menu-item a:hover {
  color: #5369FF;
  text-decoration: none;
}

.menu-item a:active {
  color: #000;
}

.menu-item a:focus {
  background: #fff;
  color: #FA7268;
}

header#masthead .menu-item.active a:link {
  font-weight: 700;
}

#menu .menu-item a {
  position: relative;
}

#menu .menu-item a:after {
  content: " ";
  position: absolute;
  width: 0%;
  background: #fff;
  height: 1px;
  bottom: -0.5rem;
  right: 0;
  transition: width .2s;
}

#menu .menu-item a:hover:after {
  left: 0;
}

@media screen and (min-width: 1024px) {
  #menu .menu-item-has-children {
    position: relative;
  }
  #menu .menu-item-has-children .sub-menu {
    position: absolute;
    top: 3rem;
    opacity: 0;
    transition: all .8s;
  }
  #menu .menu-item-has-children .sub-menu .menu-item {
    padding: 1rem 0.5rem;
    background-color: white;
    transition: all .4s;
  }
  #menu .menu-item-has-children .sub-menu .menu-item a {
    color: #FA7268;
    transition: all .4s;
  }
  #menu .menu-item-has-children .sub-menu .menu-item:hover {
    background-color: #B1AAAA;
  }
  #menu .menu-item-has-children .sub-menu .menu-item:hover a {
    color: #fff;
  }
  #menu .menu-item-has-children .sub-menu .menu-item a:focus {
    color: #011BC8;
  }
  .sub-menu .menu-item a:after {
    display: none;
  }
  #menu .menu-item-has-children .menu-item {
    border-top: 1px solid #FA7268;
  }
  #menu .menu-item-has-children:hover .sub-menu, #menu .menu-item-has-children:focus .sub-menu {
    opacity: 1;
    transition: all .4s;
  }
}

select#lang_choice_1 {
  color: #fff;
  border: 1px solid #fff;
  padding: 0.75rem 4.5rem 0.75rem 1.5rem;
  border-radius: 2.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("image/arrow_select.svg") 90%/12% no-repeat #FA7268;
  background-size: 1.5rem;
}

.burgerButton {
  background: rgba(255, 255, 255, 0);
  min-width: auto;
  fill: #fff;
  transition: all .2s;
}

.burgerButton:hover, .burgerButton:focus {
  fill: #000;
}

.burgerButton:active {
  fill: #011BC8;
}

.burgerButton p {
  color: inherit;
  transition: all .2s;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.closeMobile.rounded-corner, .closeModal {
  width: 4rem;
  height: 4rem;
  min-width: 0;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0);
  margin-left: auto;
  transition: all .2s;
  border: 1px solid #fff;
}

.closeMobile.rounded-corner:hover, .closeMobile.rounded-corner:focus, .closeModal:hover, .closeModal:focus {
  color: #000;
}

.closeMobile.rounded-corner:active, .closeModal:active {
  color: #011BC8;
}

@media screen and (max-width: 1024px) {
  .closeMobile.rounded-corner, .closeModal {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#login-password {
  margin-bottom: 6rem;
}

.closeModal {
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .polylang_switch {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .polylang_switch {
    order: 100;
  }
}

.separator {
  min-height: 4px;
  border-radius: 2px;
  width: 10rem;
  margin: 1rem auto;
}

.separator-thin {
  height: 1px;
  width: 10rem;
  margin: 1rem auto;
  border-radius: none;
}

#wp-submit {
  padding: 1rem 1.75rem;
  border-radius: 2.5rem;
}

#wp-submit:active {
  border: 1px solid #011BC8;
}

.avatarContainer {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.avatarContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  button.toggleConnect {
    height: 3rem;
    background: rgba(255, 255, 255, 0);
    min-width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button.toggleConnect svg {
    fill: #fff;
    transition: all .4s;
  }
  button.toggleConnect svg:hover {
    fill: #011BC8;
  }
  button.toggleConnect svg:active, button.toggleConnect svg:focus {
    fill: #000;
  }
  #menuConnect .menu-item {
    padding: 1rem 0.5rem;
    background-color: white;
    transition: all .4s;
    border-bottom: 1px solid #FA7268;
  }
  #menuConnect .menu-item a {
    color: #FA7268;
    transition: all .4s;
  }
  #menuConnect .menu-item:hover {
    background-color: #B1AAAA;
  }
  #menuConnect .menu-item:hover a {
    color: #fff;
  }
  #menuConnect .menu-item a:focus {
    color: #011BC8;
  }
  #menuConnect {
    opacity: 0;
    position: absolute;
    top: 4rem;
    transition: opacity .8s;
  }
  #menuConnect.menuConnectOpen {
    opacity: 1;
  }
  .menuConnectContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
  }
}

@media screen and (max-width: 1024px) {
  .menuConnectContainer {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-items: center;
  }
  .avatarContainer {
    margin-top: 2rem;
  }
}

.menu-website {
  position: fixed;
  z-index: 999;
  top: 1em;
  right: 1em;
  text-align: right;
  width: 150px;
  margin: .5em;
  color: #fff;
  font-size: .75em;
}

@media screen and (max-width: 1024px) {
  .menu-website {
    right: 50%;
    top: 2em;
    transform: translate(50%, 0%);
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .menu-website {
    right: 40%;
  }
}

.menu-website a {
  text-decoration: none;
}

.menu-website img {
  margin-right: .5em;
}

.menu-website ul {
  text-align: left;
  display: none;
  padding: 0.5em;
  background-color: #fff;
}

.menu-website ul li {
  padding: .5em;
}

.menu-website ul li a {
  color: #FA7268;
}

.menu-website ul li:hover {
  background-color: #B1AAAA;
}

.menu-website ul li:hover a {
  color: white;
}

.menu-website #menu-website-open:focus-visible ul, .menu-website #menu-website-open:focus ul, .menu-website #menu-website-open:active ul, .menu-website #menu-website-open:hover ul {
  display: block;
}

.modal {
  width: 50vw;
  height: 50vh;
  position: fixed;
  z-index: 20001;
  top: -100vh;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
}

@media screen and (max-width: 1024px) {
  .modal {
    height: 80vh;
  }
}

@media screen and (max-width: 800px) {
  .modal {
    width: 80vw;
  }
}

.modal.active {
  top: 50%;
}

#BGmodal {
  z-index: 20000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: all 1s;
  background: rgba(221, 82, 65, 0.95);
}

#BGmodal.active {
  top: 100%;
}

#connectModal {
  text-align: center;
}

#connectModal input#wp-submit {
  color: #fff;
  background-color: #011BC8;
  transition: background-color .4s;
}

#connectModal input#wp-submit:hover {
  background-color: #000;
}

#loginform {
  color: #fff;
}

#loginform p.login-username, #loginform p.login-password {
  text-align: left;
}

input#user_login, input#user_pass {
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: border-color .2s;
}

input#user_login:active, input#user_login:focus, input#user_pass:active, input#user_pass:focus {
  border-color: #011BC8;
}

@media screen and (min-width: 1024px) {
  #content {
    background-image: url(image/background_top.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 42vw;
    margin-bottom: 8rem;
  }
}

#content {
  padding-top: 10rem;
}

.bloc-post-container,
.bloc-event-container,
.bloc-circulab-container,
.bloc-defis-container,
.bloc-book-container,
.bloc-partner-container,
.podcast-container,
.bloc-user-container,
#form-contact,
.filterContainer,
.showMoreContainer {
  margin-bottom: 6rem;
}

.bloc-post-container p.heightAuto,
.bloc-event-container p.heightAuto,
.bloc-circulab-container p.heightAuto,
.bloc-defis-container p.heightAuto,
.bloc-book-container p.heightAuto,
.bloc-partner-container p.heightAuto,
.podcast-container p.heightAuto {
  min-height: auto;
}

.picto.podcastPicto {
  background-color: #13D4EB;
}

audio {
  margin-top: 3rem;
}

.bloc.podcastBg, .singlePodcastContainer > p.podcastBg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #fff;
  position: relative;
  box-shadow: inset 0 0 600px 600px rgba(255, 255, 255, 0.4), 0 3px 16px rgba(0, 0, 0, 0.4);
}

.bloc.podcastBg p, .singlePodcastContainer > p.podcastBg p {
  text-align: left;
}

.podcastLinkContainer {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.2rem;
  display: flex;
  flex-flow: row nowrap;
}

.podcastLinkContainer a.podcastLinkApple,
.podcastLinkContainer a.podcastLinkSpotify {
  text-decoration: none;
  margin-left: 1rem;
  padding-top: 3.5rem;
  transition: all .4s;
  display: inline-block;
}

.podcastLinkContainer a.podcastLinkApple:hover,
.podcastLinkContainer a.podcastLinkSpotify:hover {
  transform: scale(1.1);
}

.podcastLinkContainer a.podcastLinkApple:active,
.podcastLinkContainer a.podcastLinkSpotify:active {
  color: #FA7268;
}

.podcastLinkContainer .podcastLinkApple {
  background: url(image/podcast_icon_applemusic.svg);
  background-repeat: no-repeat;
  background-size: 3rem 3rem;
  background-position: center 0;
}

.podcastLinkContainer .podcastLinkSpotify {
  background: url(image/podcast_icon_spotify.svg);
  background-repeat: no-repeat;
  background-size: 3rem 3rem;
  background-position: center 0;
}

.singlePodcastContainer > p {
  margin-bottom: 6rem;
}

.archivePage {
  display: grid;
  column-gap: 2rem;
  row-gap: 6rem;
  margin-bottom: 6rem;
}

@media screen and (min-width: 1024px) {
  .archivePage {
    grid-template-columns: repeat(12, 1fr);
  }
  .archivePage .singleEvent {
    grid-column: span 3;
  }
  .archivePage .singlePost {
    grid-column: span 4;
  }
  .archivePage .singleEvent:nth-of-type(-n+2) {
    grid-column: span 6 !important;
  }
  .archivePage .singlePodcast {
    grid-column: span 6;
  }
  .archivePage .navigation,
  .archivePage .showMoreContainer,
  .archivePage .bloc-defis {
    grid-column: span 12;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .archivePage {
    grid-template-columns: repeat(6, 1fr);
  }
  .archivePage .singleEvent {
    grid-column: span 3;
  }
  .archivePage .singlePost {
    grid-column: span 4;
  }
  .archivePage .singlePodcast {
    grid-column: span 6;
  }
  .archivePage .navigation,
  .archivePage .showMoreContainer,
  .archivePage .bloc-defis,
  .archivePage .singlePost {
    grid-column: span 6;
  }
}

@media screen and (max-width: 800px) {
  .archivePage {
    grid-template-columns: repeat(1, 1fr);
  }
  .archivePage .singleEvent,
  .archivePage .singlePost,
  .archivePage .singlePodcast,
  .archivePage .navigation,
  .archivePage .showMoreContainer,
  .archivePage .bloc-defis,
  .archivePage .singlePost {
    grid-column: span 1;
  }
}

.bloc.singlePodcast, .singlePodcastContainer > p.singlePodcast {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.bloc.singlePodcast img.attachment-pano, .singlePodcastContainer > p.singlePodcast img.attachment-pano {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1024px) {
  .bloc.singlePodcast .title, .singlePodcastContainer > p.singlePodcast .title,
  .bloc.singlePodcast .podcastInfo,
  .singlePodcastContainer > p.singlePodcast .podcastInfo,
  .bloc.singlePodcast .podcastTitle,
  .singlePodcastContainer > p.singlePodcast .podcastTitle {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .bloc.singlePodcast .title, .singlePodcastContainer > p.singlePodcast .title,
  .bloc.singlePodcast .podcastInfo,
  .singlePodcastContainer > p.singlePodcast .podcastInfo,
  .bloc.singlePodcast .podcastTitle,
  .singlePodcastContainer > p.singlePodcast .podcastTitle {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 800px) {
  .bloc.singlePodcast .title, .singlePodcastContainer > p.singlePodcast .title,
  .bloc.singlePodcast .podcastInfo,
  .singlePodcastContainer > p.singlePodcast .podcastInfo,
  .bloc.singlePodcast .podcastTitle,
  .singlePodcastContainer > p.singlePodcast .podcastTitle {
    padding: 0 1rem;
  }
}

.podcastInfo {
  margin-bottom: 0.5rem;
}

.podcastTitle {
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 4rem;
}

.white {
  color: white;
}

.ctr {
  text-align: center;
}

#content {
  z-index: 10;
}

#footer {
  background: #011BC8;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  #footer {
    background-color: #011BC8;
    background-position: left bottom, right bottom;
    background-repeat: no-repeat;
    background-size: 246px, 200px;
  }
}

@media screen and (min-width: 1024px) {
  .footerBackgroundTrick {
    display: none;
    z-index: -10;
    position: relative;
    width: 100%;
    /*&:after {
    content: "";
    position: absolute;
    height: 310px;
    width: 391px;
    bottom : 0;
    //left: -100vw;
    background-image: url(image/background_left.svg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    //z-index: -1000;
    }

  &:before {
    content: "";
    position: absolute;
    height: 585px;
    width: 200px;
    bottom : 0;
    right: 0;
    background-image: url(image/background_right.svg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    //z-index: -1000;
    }*/
  }
}

#footer {
  display: flex;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .footerSafeSpace {
    margin: auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1600px) {
  .footerSafeSpace {
    padding: 0 190px 6rem 280px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .footerSafeSpace {
    padding: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .footerSafeSpace {
    padding: 1rem;
  }
}

.footerHeader {
  min-width: 100%;
}

@media screen and (min-width: 800px) {
  .footerHeader {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: 800px) {
  .footerHeader {
    display: flex;
    flex-flow: column wrap;
  }
}

.footer .menu-item a {
  transition: color .2s;
}

.footer .menu-item a:hover {
  color: #FA7268;
}

.footer .menu-item a:active {
  color: #000;
}

ul#menu-menu_footer,
.footerSocialMedia {
  display: flex;
  flex: 1;
}

@media screen and (min-width: 800px) {
  ul#menu-menu_footer,
  .footerSocialMedia {
    flex-flow: row wrap;
    align-items: center;
  }
  ul#menu-menu_footer .menu-item:first-of-type,
  ul#menu-menu_footer .socialMediaItem:first-of-type,
  .footerSocialMedia .menu-item:first-of-type,
  .footerSocialMedia .socialMediaItem:first-of-type {
    margin-left: 0;
  }
}

@media screen and (max-width: 800px) {
  ul#menu-menu_footer,
  .footerSocialMedia {
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
  }
  ul#menu-menu_footer .menu-item,
  ul#menu-menu_footer .socialMediaItem,
  .footerSocialMedia .menu-item,
  .footerSocialMedia .socialMediaItem {
    margin-top: 2rem;
  }
  ul#menu-menu_footer .menu-item:first-of-type,
  ul#menu-menu_footer .socialMediaItem:first-of-type,
  .footerSocialMedia .menu-item:first-of-type,
  .footerSocialMedia .socialMediaItem:first-of-type {
    margin-top: 0;
  }
}

@media screen and (min-width: 800px) {
  .footerSocialMedia {
    max-width: 20rem;
  }
}

#menu-menu_footer .menu-item {
  margin-right: 1rem;
}

ul#menu-menu_footer {
  padding: 4rem 0 0;
}

@media screen and (max-width: 800px) {
  .footerSocialMedia {
    padding-bottom: 6rem;
  }
}

a.socialMediaItem img {
  box-sizing: border-box;
  width: 4.5rem;
  height: auto;
  border-radius: 0.5rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0);
  transition: all .4s;
}

@media screen and (max-width: 800px) {
  a.socialMediaItem img {
    margin-top: 1rem;
  }
}

a.socialMediaItem:hover img {
  background: #000;
}

a.socialMediaItem:active img {
  background: #FA7268;
}

@media screen and (min-width: 800px) {
  .footerSocialMedia {
    justify-content: flex-end;
  }
}

ul#menu-menu_footer {
  margin: 0;
  padding-left: 0;
  z-index: 99;
}

.footerLastText {
  text-align: center;
  font-size: 1.4rem;
  line-height: 2em;
}

@media screen and (min-width: 800px) {
  .footerLastText {
    margin-top: 3rem;
  }
}

form .formCont, form .formCheckBox {
  position: relative;
  margin-top: 1em;
}

form input[type="text"],
form input[type="email"],
form input[type="url"],
form input[type="password"],
form input[type="search"],
form input[type="number"],
form input[type="tel"],
form input[type="range"],
form input[type="date"],
form input[type="month"],
form input[type="week"],
form input[type="time"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="color"],
form textarea {
  -webkit-backface-visibility: hidden;
  border: none;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  outline-offset: 0;
  margin-top: 1em;
  width: 100%;
  /*+ label{
         position:absolute;
         top:1em;
         left:1em;
         color:$gray;
         opacity: 0;
         font-size: 1.6rem;
      }
      &:focus {
         border-color: $circulab_pink;
         transition: all .4s;
         + label{
            transform: translate(0,-1.5em) scale(.8);
            opacity: 1;
            transition: transform .4s;
         }
         &::placeholder{
            opacity:0;
         }
      }
      &::placeholder{
         opacity:1;
      }*/
}

form .formCheckBox {
  font-size: 1rem;
  max-width: 50rem;
  text-align: center;
}

form .formButton {
  margin: 1em;
  text-align: center;
}

form .contResponse {
  opacity: 0;
  max-width: 300px;
}

form.response .contResponse {
  margin: 2em auto;
  opacity: 1;
  transition-property: opacity, margin;
  transition-duration: 1s;
  transition-timing-function: ease;
  max-width: 450px;
}

#form-contact.bloc, .singlePodcastContainer > p#form-contact, #form-event.bloc, .singlePodcastContainer > p#form-event, #form-user.bloc, .singlePodcastContainer > p#form-user {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  text-align: left;
}

#form-contact.bloc .formCont input, .singlePodcastContainer > p#form-contact .formCont input, #form-contact.bloc #contact_comments, .singlePodcastContainer > p#form-contact #contact_comments, #form-event.bloc .formCont input, .singlePodcastContainer > p#form-event .formCont input, #form-event.bloc #contact_comments, .singlePodcastContainer > p#form-event #contact_comments, #form-user.bloc .formCont input, .singlePodcastContainer > p#form-user .formCont input, #form-user.bloc #contact_comments, .singlePodcastContainer > p#form-user #contact_comments {
  flex: 1;
  width: 100%;
  padding: 1rem 1.75rem;
  border-radius: 2.5rem;
  background: rgba(83, 105, 255, 0.1);
}

#form-contact.bloc #contact_comments, .singlePodcastContainer > p#form-contact #contact_comments, #form-event.bloc #contact_comments, .singlePodcastContainer > p#form-event #contact_comments, #form-user.bloc #contact_comments, .singlePodcastContainer > p#form-user #contact_comments {
  min-height: 18rem;
}

#form-contact.bloc .formRadio, .singlePodcastContainer > p#form-contact .formRadio, #form-event.bloc .formRadio, .singlePodcastContainer > p#form-event .formRadio, #form-user.bloc .formRadio, .singlePodcastContainer > p#form-user .formRadio {
  text-align: left;
}

#form-contact.bloc .formRadio input[type="radio"], .singlePodcastContainer > p#form-contact .formRadio input[type="radio"], #form-event.bloc .formRadio input[type="radio"], .singlePodcastContainer > p#form-event .formRadio input[type="radio"], #form-user.bloc .formRadio input[type="radio"], .singlePodcastContainer > p#form-user .formRadio input[type="radio"] {
  width: unset;
}

#form-contact.bloc .formRadio > p, .singlePodcastContainer > p#form-contact .formRadio > p, #form-event.bloc .formRadio > p, .singlePodcastContainer > p#form-event .formRadio > p, #form-user.bloc .formRadio > p, .singlePodcastContainer > p#form-user .formRadio > p {
  flex: 1;
  width: 100%;
  padding: 1rem 1.75rem;
  border-radius: 2.5rem;
  background: rgba(83, 105, 255, 0.1);
}

#form-contact.bloc .formCheckBox, .singlePodcastContainer > p#form-contact .formCheckBox, #form-event.bloc .formCheckBox, .singlePodcastContainer > p#form-event .formCheckBox, #form-user.bloc .formCheckBox, .singlePodcastContainer > p#form-user .formCheckBox {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  margin: 4rem auto 2rem;
  text-align: left;
}

#form-contact.bloc .formCheckBox label, .singlePodcastContainer > p#form-contact .formCheckBox label, #form-event.bloc .formCheckBox label, .singlePodcastContainer > p#form-event .formCheckBox label, #form-user.bloc .formCheckBox label, .singlePodcastContainer > p#form-user .formCheckBox label {
  margin-left: 1rem;
}

#form-contact.bloc#form-event.bloc .formColumnRight, .singlePodcastContainer > p#form-contact#form-event .formColumnRight, #form-event.bloc#form-event.bloc .formColumnRight, .singlePodcastContainer > p#form-event#form-event .formColumnRight, #form-user.bloc#form-event.bloc .formColumnRight, .singlePodcastContainer > p#form-user#form-event .formColumnRight {
  margin-top: 1.5em;
}

@media screen and (min-width: 800px) {
  .formColumnContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
  }
  .formColumnLeft, .formColumnRight {
    display: flex;
    flex: 1;
    flex-flow: column;
    max-width: 47%;
    margin-left: auto;
    margin-right: auto;
  }
}

#newCity {
  display: none;
  text-align: left;
}

.commmunityContainer {
  display: grid;
  row-gap: 6rem;
  margin-bottom: 6rem;
  padding-bottom: 6rem;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 1024px) {
  .sidebar {
    grid-column: span 3;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .sidebar {
    grid-column: span 2;
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    grid-column: span 1;
  }
}

.sidebar #map-community {
  height: auto;
  width: 100%;
}

.sidebar #map-community img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.sidebar .filterContainer {
  margin-bottom: 0px;
}

.leaflet-bottom.leaflet-right {
  display: none;
}

.commmunityContainer.isLoggedIn .sidebar {
  grid-column: span 1;
}

.commmunityContainer.isLoggedIn .sidebar #map-community {
  height: auto;
  width: 100%;
}

#community-users {
  /*.user{
				display:none;
		}
		.user::nth-child(-n+1){ //Les 6 premiers users
				display: block;
		}
		&.allUsers .user{
				display: block;
		}*/
}

.modal-user-connect {
  background-color: #fff;
  padding: 2em;
  width: auto;
  height: auto;
  position: fixed;
  z-index: 20001;
  top: -100vh;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  border-radius: 20px;
  min-width: 800px;
  max-width: 1024px;
}

@media screen and (max-width: 1024px) {
  .modal-user-connect {
    min-width: 800px;
    max-width: 800px;
  }
}

@media screen and (max-width: 800px) {
  .modal-user-connect {
    min-width: calc(400px - 4em);
    max-width: calc(100% - 2em);
  }
}

@media screen and (max-width: 400px) {
  .modal-user-connect {
    min-width: calc(350px - 4em);
    max-height: 500px;
    overflow-y: auto;
  }
}

.modal-user-connect.active {
  top: 50%;
}

.modal-user-connect .close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  min-width: unset;
  border-radius: 50%;
  background-color: #FA7268;
}

.modal-user-connect .modal-user-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "a b"  "c d";
  grid-gap: 2em;
}

@media screen and (max-width: 800px) {
  .modal-user-connect .modal-user-content {
    grid-template-columns: 1fr;
    max-height: 500px;
    max-width: 90%;
    overflow-y: auto;
    margin: 20px;
    grid-template-areas: "a"  "b"  "d"  "c";
  }
}

.modal-user-connect .modal-user-content .picto {
  grid-area: a;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
  .modal-user-connect .modal-user-content .picto {
    height: 100px;
    width: 100px;
  }
}

.modal-user-connect .modal-user-content .picto .userThumbnailContainer img {
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 800px) {
  .modal-user-connect .modal-user-content .picto .userThumbnailContainer img {
    height: 100px;
    width: 100px;
  }
}

.modal-user-connect .modal-user-content .picto .userLinkedin {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  bottom: 0;
}

.modal-user-connect .modal-user-content .modal-user-coordonnee {
  grid-area: b;
}

.modal-user-connect .modal-user-content .modal-user-coordonnee .userTitle {
  text-align: left;
}

.modal-user-connect .modal-user-content .modal-user-coordonnee hr {
  border: none;
  border-bottom: solid 2px #011BC8;
  border-radius: 2px;
  width: 4em;
  margin: 0 0 1em;
}

.modal-user-connect .modal-user-content .modal-user-coordonnee span {
  color: #FA7268;
}

.modal-user-connect .modal-user-content .modal-user-col-left {
  grid-area: c;
  text-align: center;
  background-color: #FA7268;
  color: #fff;
  border-radius: 20px;
}

.modal-user-connect .modal-user-content .modal-user-col-right {
  grid-area: d;
}

form#form-community {
  text-align: left;
  margin-right: auto;
}

@media screen and (min-width: 400px) {
  form#form-community {
    display: flex;
    flex-flow: row wrap;
  }
  form#form-community .filterItem {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 400px) {
  form#form-community {
    display: flex;
    flex-flow: column wrap;
  }
}

form#form-community .filterItem {
  display: flex;
  flex-flow: column;
  margin-bottom: 2rem;
}

form#form-community h2 {
  width: 100%;
  display: block;
}

form#form-community select {
  width: 100%;
  border-radius: 0;
  color: #fff;
  padding: 0.75rem 4.5rem 0.75rem 1.5rem;
  border: none;
  border-bottom: 1px solid #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("image/arrow_select.svg") 90%/12% no-repeat;
  background-size: 1.5rem;
}

form#form-community select.hasPinkBg, form#form-community select.buttonHeader, form#form-community select.buttonPink {
  background-color: #FA7268;
}

form#form-community select.hasBlueBg, form#form-community select.buttonBlue {
  background-color: #011BC8;
}

form#form-community select.hasGreenBg, form#form-community select.buttonGreen {
  background-color: #13D4EB;
}

form#form-community select.hasLightGreenBg {
  background-color: #18edbb;
}

form#form-community select.hasLightBlueBg {
  background-color: #5369FF;
}

form#form-community select.hasRedBg {
  background-color: #FE281E;
}

form#form-community select.hasPurpleBg {
  background-color: #6144C5;
}

form#form-community select.hasOrangeBg {
  background-color: #FF6907;
}

form#form-community label {
  margin-bottom: 0.5rem;
}

.blocUserContainer {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  width: 100%;
}

.blocUserContainer .blocSingleUSer {
  grid-column: span 1;
  cursor: pointer;
}

@media screen and (min-width: 1100px) {
  .blocUserContainer {
    grid-column: span 3;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1100px) and (min-width: 800px) {
  .blocUserContainer {
    grid-column: span 2;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .blocUserContainer {
    grid-column: span 1;
    grid-template-columns: repeat(1, 1fr);
  }
}

.blocUserContainer.isLoggedIn .blocSingleUSer {
  grid-column: span 1;
}

@media screen and (min-width: 1100px) {
  .blocUserContainer.isLoggedIn {
    grid-column: span 2;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1100px) and (min-width: 800px) {
  .blocUserContainer.isLoggedIn {
    grid-column: span 1;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .blocUserContainer.isLoggedIn {
    grid-column: span 1;
    grid-template-columns: repeat(1, 1fr);
  }
}

.toLoad {
  display: grid;
}

@media screen and (min-width: 1024px) {
  .toLoad {
    grid-template-columns: repeat(3, 1fr);
  }
  .toLoad .button {
    grid-column: 2;
  }
}

@media screen and (max-width: 1024px) {
  .toLoad {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*! Flickity v2.2.1
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}

.flickity-prev-next-button.next {
  right: 10px;
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .blocPadding, .podcastLinkContainer, .bloc, .singlePodcastContainer > p, .bloc.blogCard .blocPadding, .singlePodcastContainer > p.blogCard .blocPadding {
    padding: 4rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .blocPadding, .podcastLinkContainer, .bloc, .singlePodcastContainer > p, .bloc.blogCard .blocPadding, .singlePodcastContainer > p.blogCard .blocPadding {
    padding: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .blocPadding, .podcastLinkContainer, .bloc, .singlePodcastContainer > p, .bloc.blogCard .blocPadding, .singlePodcastContainer > p.blogCard .blocPadding {
    padding: 1rem;
  }
}

.bloc, .singlePodcastContainer > p {
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.bloc.bg-explore, .singlePodcastContainer > p.bg-explore {
  background-image: url(image/bg-explore.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.bloc.bg-activate, .singlePodcastContainer > p.bg-activate {
  background-image: url(image/bg-activate.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.bloc.bg-create, .singlePodcastContainer > p.bg-create {
  background-image: url(image/bg-create.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.title, p.title {
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .title, p.title {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 1024px) {
  .title, p.title {
    font-size: 2rem;
  }
}

.titleSection {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .titleSection {
    font-size: 4.2rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 400px) {
  .titleSection {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 400px) {
  .titleSection {
    font-size: 2.4rem;
  }
}

.titleSection a {
  text-decoration: none;
}

.titleSection a:hover {
  text-decoration: underline;
}

.bloc.blocCirculab, .singlePodcastContainer > p.blocCirculab {
  display: block;
  text-align: center;
}

.bloc-container, .bloc-circulab-container {
  display: grid;
  column-gap: 2rem;
  row-gap: 6rem;
  margin-bottom: 6rem;
}

@media screen and (min-width: 1024px) {
  .bloc-circulab-container.default {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
}

@media screen and (min-width: 800px) {
  .bloc-circulab-container.display-50-50 {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .bloc-circulab-container.display-33-66 {
    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .bloc-circulab-container.display-33-66 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .bloc-circulab-container.display-66-33 {
    grid-template-columns: 1fr 2fr;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .bloc-circulab-container.display-66-33 {
    grid-template-columns: 1fr 1fr;
  }
}

.picto {
  margin-left: auto;
  margin-right: auto;
  height: 7rem;
  width: 7rem;
  border-radius: 3.5rem;
  background: #FA7268;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picto svg {
  fill: #fff;
}

@media screen and (min-width: 1024px) {
  .picto.pictoPosition-top {
    transform: translateY(-7.5rem);
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .picto.pictoPosition-top {
    transform: translateY(-5.5rem);
  }
}

@media screen and (max-width: 800px) {
  .picto.pictoPosition-top {
    transform: translateY(-4.5rem);
  }
}

@media screen and (min-width: 1024px) {
  .marginPictoPosition-top {
    margin-top: -5.5rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .marginPictoPosition-top {
    margin-top: -3.5rem;
  }
}

@media screen and (max-width: 800px) {
  .marginPictoPosition-top {
    margin-top: -1rem;
  }
}

.bloc-circulab-container .picto, .bloc-circulab-container a.button, .bloc-circulab-container .separator {
  background-color: #13D4EB;
}

.bloc-circulab-container a.button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  transition: all .4s;
}

.designColor-blue .picto, .designColor-blue a.button, .designColor-blue .separator {
  background-color: #011BC8;
}

.designColor-blue a.button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  transition: all .4s;
}

.designColor-blue-light .picto, .designColor-blue-light a.button, .designColor-blue-light .separator {
  background-color: #5369FF;
}

.designColor-blue-light a.button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  transition: all .4s;
}

.bg-default .designColor-default .picto, .bg-default .designColor-default a.button, .bg-default .designColor-default .separator {
  background-color: #FA7268;
}

.bg-default .designColor-default a.button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  transition: all .4s;
}

.bg-sky-blue {
  background-color: #13D4EB;
}

.bg-blue-light {
  background-color: #5369FF;
}

.bg-blue {
  background-color: #011BC8;
  color: #011BC8;
}

.bg-default {
  background-color: #fff;
}

.bg-blue.designColor-default .picto, .bg-blue.designColor-default a.button, .bg-blue.designColor-default .separator, .bg-blue.designColor-blue .picto, .bg-blue.designColor-blue a.button, .bg-blue.designColor-blue .separator, .bg-blue.designColor-sky-blue .picto, .bg-blue.designColor-sky-blue a.button, .bg-blue.designColor-sky-blue .separator, .bg-blue.designColor-blue-light .picto, .bg-blue.designColor-blue-light a.button, .bg-blue.designColor-blue-light .separator {
  background-color: #fff;
  color: #011BC8;
}

.bg-blue.designColor-default .picto svg, .bg-blue.designColor-default a.button svg, .bg-blue.designColor-default .separator svg, .bg-blue.designColor-blue .picto svg, .bg-blue.designColor-blue a.button svg, .bg-blue.designColor-blue .separator svg, .bg-blue.designColor-sky-blue .picto svg, .bg-blue.designColor-sky-blue a.button svg, .bg-blue.designColor-sky-blue .separator svg, .bg-blue.designColor-blue-light .picto svg, .bg-blue.designColor-blue-light a.button svg, .bg-blue.designColor-blue-light .separator svg {
  fill: #011BC8;
}

.bg-blue.designColor-default a.button, .bg-blue.designColor-blue a.button, .bg-blue.designColor-sky-blue a.button, .bg-blue.designColor-blue-light a.button {
  background-color: #fff;
  color: #000;
  transition: all .4s;
}

.bg-blue.designColor-default a.button:hover, .bg-blue.designColor-blue a.button:hover, .bg-blue.designColor-sky-blue a.button:hover, .bg-blue.designColor-blue-light a.button:hover {
  color: #fff;
  border-color: #fff;
  background-color: #FA7268;
}

.bg-blue-light.designColor-default .picto, .bg-blue-light.designColor-default a.button, .bg-blue-light.designColor-default .separator, .bg-blue-light.designColor-blue .picto, .bg-blue-light.designColor-blue a.button, .bg-blue-light.designColor-blue .separator, .bg-blue-light.designColor-sky-blue .picto, .bg-blue-light.designColor-sky-blue a.button, .bg-blue-light.designColor-sky-blue .separator, .bg-blue-light.designColor-blue-light .picto, .bg-blue-light.designColor-blue-light a.button, .bg-blue-light.designColor-blue-light .separator {
  background-color: #fff;
  color: #5369FF;
}

.bg-blue-light.designColor-default .picto svg, .bg-blue-light.designColor-default a.button svg, .bg-blue-light.designColor-default .separator svg, .bg-blue-light.designColor-blue .picto svg, .bg-blue-light.designColor-blue a.button svg, .bg-blue-light.designColor-blue .separator svg, .bg-blue-light.designColor-sky-blue .picto svg, .bg-blue-light.designColor-sky-blue a.button svg, .bg-blue-light.designColor-sky-blue .separator svg, .bg-blue-light.designColor-blue-light .picto svg, .bg-blue-light.designColor-blue-light a.button svg, .bg-blue-light.designColor-blue-light .separator svg {
  fill: #5369FF;
}

.bg-blue-light.designColor-default a.button, .bg-blue-light.designColor-blue a.button, .bg-blue-light.designColor-sky-blue a.button, .bg-blue-light.designColor-blue-light a.button {
  background-color: #fff;
  color: #000;
  transition: all .4s;
}

.bg-blue-light.designColor-default a.button:hover, .bg-blue-light.designColor-blue a.button:hover, .bg-blue-light.designColor-sky-blue a.button:hover, .bg-blue-light.designColor-blue-light a.button:hover {
  color: #fff;
  border-color: #fff;
  background-color: #FA7268;
}

.bg-sky-blue.designColor-default .picto, .bg-sky-blue.designColor-default a.button, .bg-sky-blue.designColor-default .separator, .bg-sky-blue.designColor-blue .picto, .bg-sky-blue.designColor-blue a.button, .bg-sky-blue.designColor-blue .separator, .bg-sky-blue.designColor-sky-blue .picto, .bg-sky-blue.designColor-sky-blue a.button, .bg-sky-blue.designColor-sky-blue .separator, .bg-sky-blue.designColor-blue-light .picto, .bg-sky-blue.designColor-blue-light a.button, .bg-sky-blue.designColor-blue-light .separator {
  background-color: #fff;
  color: #13D4EB;
}

.bg-sky-blue.designColor-default .picto svg, .bg-sky-blue.designColor-default a.button svg, .bg-sky-blue.designColor-default .separator svg, .bg-sky-blue.designColor-blue .picto svg, .bg-sky-blue.designColor-blue a.button svg, .bg-sky-blue.designColor-blue .separator svg, .bg-sky-blue.designColor-sky-blue .picto svg, .bg-sky-blue.designColor-sky-blue a.button svg, .bg-sky-blue.designColor-sky-blue .separator svg, .bg-sky-blue.designColor-blue-light .picto svg, .bg-sky-blue.designColor-blue-light a.button svg, .bg-sky-blue.designColor-blue-light .separator svg {
  fill: #13D4EB;
}

.bg-sky-blue.designColor-default a.button, .bg-sky-blue.designColor-blue a.button, .bg-sky-blue.designColor-sky-blue a.button, .bg-sky-blue.designColor-blue-light a.button {
  background-color: #fff;
  color: #000;
  transition: all .4s;
}

.bg-sky-blue.designColor-default a.button:hover, .bg-sky-blue.designColor-blue a.button:hover, .bg-sky-blue.designColor-sky-blue a.button:hover, .bg-sky-blue.designColor-blue-light a.button:hover {
  color: #fff;
  border-color: #fff;
  background-color: #FA7268;
}

.textColor-default {
  color: #021744;
}

.textColor-white {
  color: #fff;
}

.textColor-white.bg-default {
  color: #021744;
}

.bloc-circulab-container .background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 0 600px 600px rgba(255, 255, 255, 0.85), 0 3px 16px rgba(0, 0, 0, 0.4);
}

.hasCta {
  position: relative;
  padding-bottom: 8rem;
}

.hasCta .ctaCirculab {
  position: absolute;
  left: 50%;
  bottom: 6rem;
  transform: translate(-50%, 0);
}

.ctaMarginTrick {
  margin-bottom: 6rem;
}

.blocCirculab.hasPano {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 1024px) {
  .blocCirculab.hasPano .blocCirculabContent {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .blocCirculab.hasPano .blocCirculabContent {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 800px) {
  .blocCirculab.hasPano .blocCirculabContent {
    padding: 0 1rem;
  }
}

.blocCirculab img.attachment-pano {
  min-width: 100%;
  height: auto;
}

.blocCirculab.hasCta.hasPano .ctaMarginTrick {
  margin-bottom: 0;
}

.bloc-defis {
  margin-bottom: 6rem;
  display: grid;
  padding: 0;
  overflow: hidden;
}

.bloc-defis h2.titleSection {
  margin-bottom: 3rem;
}

@media screen and (min-width: 1024px) {
  .bloc-defis {
    text-align: left;
    flex-flow: row;
    grid-template-columns: 2fr 1fr;
  }
  .bloc-defis h2.titleSection {
    text-align: left;
  }
}

@media screen and (max-width: 1024px) {
  .bloc-defis {
    flex-flow: column;
    grid-template-columns: 1fr;
  }
}

.defisText {
  padding: 4rem;
  margin-bottom: auto;
}

.defisImage {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .defisImage {
    min-height: 16rem;
  }
}

.defisImage img {
  width: 0;
  height: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

/* external css: flickity.css */
.bloc-partner-container {
  display: block;
}

.carousel {
  background: #fff;
}

.carousel img {
  margin-right: 10px;
  object-fit: contain;
}

@media screen and (min-width: 1024px) {
  .carousel img {
    width: 22%;
    height: 20rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .carousel img {
    width: 25%;
    height: 18rem;
  }
}

@media screen and (max-width: 800px) {
  .carousel img {
    width: 30%;
    height: 14rem;
  }
}

button.flickity-button {
  min-width: 0;
}

/* icon color */
.flickity-button-icon {
  fill: white;
}

/* smaller, dark, rounded square */
.flickity-button {
  background: #011BC8;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: all .4s;
}

.flickity-button:hover {
  background: #fff;
  border: 1px solid #000;
}

.flickity-button:hover .flickity-button-icon {
  fill: #000;
  transition: fill .4s;
}

@media screen and (max-width: 800px) {
  .flickity-prev-next-button.next {
    right: -27px;
  }
  .flickity-prev-next-button.previous {
    left: -27px;
  }
}

.flickity-prev-next-button {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1.75rem;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 22.5%;
  top: 22.5%;
  width: 50%;
  height: 50%;
}

@media screen and (min-width: 1024px) {
  .flickity-prev-next-button.previous {
    left: -6rem;
  }
  .flickity-prev-next-button.next {
    right: -6rem;
  }
}

.partnerTitle {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  .partnerTitle {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .partnerTitle {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .partnerTitle {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}

.bloc-book-container {
  padding: 0;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .bloc-book-container {
    display: flex;
    flex-flow: row;
  }
}

@media screen and (max-width: 1024px) {
  .bloc-book-container {
    display: flex;
    flex-flow: column;
  }
}

.bookText, .bookCover {
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .bookText, .bookCover {
    max-width: 50%;
  }
}

.bookCover {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .bookCover {
    max-height: 22rem;
  }
}

.bookCover img {
  min-width: 100%;
  min-height: 100%;
  margin: auto;
  object-fit: cover;
}

.bookCover {
  position: relative;
}

.buttonModal.bookCta {
  position: absolute;
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  .buttonModal.bookCta {
    bottom: 4rem;
    right: 4rem;
  }
}

@media screen and (max-width: 1024px) {
  .buttonModal.bookCta {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.bookButton {
  min-width: auto;
  flex: 0;
  max-width: content;
}

.bloc-event-container {
  text-align: center;
  margin-bottom: 6rem;
}

.eventCardContainer {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  margin-bottom: 6rem;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .eventCardContainer {
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .eventCardContainer {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  }
}

.eventCard.bloc, .singlePodcastContainer > p.eventCard {
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .eventCard.bloc .eventHeader, .singlePodcastContainer > p.eventCard .eventHeader {
    padding: 4rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .eventCard.bloc .eventHeader, .singlePodcastContainer > p.eventCard .eventHeader {
    padding: 3rem 2rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .eventCard.bloc .eventHeader, .singlePodcastContainer > p.eventCard .eventHeader {
    padding: 3rem 1rem;
    padding-bottom: 1rem;
  }
}

.eventCard .entry-meta {
  text-align: center;
  width: 100%;
}

.eventCard p.title {
  margin: 0;
  margin-bottom: 2rem;
}

.eventCard .separator {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.eventInfo {
  font-weight: 300;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

h2.eventName {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  h2.eventName {
    min-height: 3em;
  }
}

@media screen and (max-width: 1024px) {
  h2.eventName {
    min-height: 2.8em;
  }
}

.backgroundEvent {
  margin: 0;
  padding: 0;
  min-width: 100%;
  height: 100%;
  max-height: 20rem;
  overflow: hidden;
  display: flex;
}

.backgroundEvent img {
  object-fit: cover;
  height: 0;
  width: 0;
  min-height: 20rem;
  min-width: 100%;
  margin: auto;
}

.ctaContainer {
  margin-top: auto;
  display: block;
  padding-bottom: 6rem;
  position: relative;
  width: 100%;
}

.cta.button {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  min-width: 12rem;
}

.filterContainerEvent select {
  color: #fff;
  border: 1px solid #fff;
  padding: 0.75rem 4.5rem 0.75rem 1.5rem;
  border-radius: 2.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("image/arrow_select.svg") 90%/12% no-repeat #FA7268;
  background-size: 1.5rem;
}

.showMoreContainer {
  display: flex;
}

.showMore {
  margin: auto;
}

#archiveContainer .singleEvent:nth-of-type(n+7) {
  display: none;
}

#archiveContainer.showMoreItems .singleEvent:nth-of-type(n+7) {
  display: block;
}

a.title {
  text-decoration: none;
  transition: all .4;
}

a.title:hover {
  color: #FA7268;
}

a.title:focus, a.title:active {
  color: #011BC8;
}

.bloc.blogCard, .singlePodcastContainer > p.blogCard {
  padding: 0;
  display: block;
  overflow: hidden;
  text-align: left;
  margin-bottom: 6rem;
}

.bloc.blogCard p, .singlePodcastContainer > p.blogCard p {
  line-height: 1.5;
}

.blogButtonContainer {
  text-align: center;
}

.blogCard .size-pano {
  display: block;
}

.blogCard .size-bg {
  display: none;
}

.bloc-post-container .blogCard .size-pano {
  display: none;
}

.bloc-post-container .blogCard .size-bg {
  display: block;
}

@media screen and (max-width: 800px) {
  .bloc-post-container .blogCard .size-pano {
    display: block;
  }
  .bloc-post-container .blogCard .size-bg {
    display: none;
  }
}

.blogPicture {
  width: 100%;
  height: auto;
}

.blogPicture img {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
  object-fit: cover;
}

.blogPicture.blogPictureBig {
  height: auto;
}

.blogPicture.blogPictureBig img {
  min-width: 100%;
  min-height: 0;
  height: auto;
  object-fit: cover;
}

.buttonBlog {
  font-weight: 700;
}

.blogCard .entry-meta {
  font-weight: 300;
  color: #B1AAAA;
  font-size: 1.2rem;
}

.singleBlogPost .entry-meta {
  border-top: solid 1px #B1AAAA;
  padding-top: 2em;
}

@media screen and (min-width: 800px) {
  .blogFooter {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .blogFooter .buttonBlog {
    text-align: left;
  }
  .blogFooter .entry-meta {
    text-align: right;
  }
}

@media screen and (max-width: 800px) {
  .blogFooter {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .blogFooter .buttonBlog,
  .blogFooter .entry-meta {
    text-align: center;
  }
  .blogFooter .entry-meta {
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #B1AAAA;
  }
}

.bloc.bloc-user-container, .singlePodcastContainer > p.bloc-user-container {
  padding: 0;
  display: grid;
  column-gap: 2rem;
  row-gap: 6rem;
  align-items: flex-start;
}

@media screen and (min-width: 1024px) {
  .bloc.bloc-user-container, .singlePodcastContainer > p.bloc-user-container {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .bloc.bloc-user-container, .singlePodcastContainer > p.bloc-user-container {
    padding-top: 4rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .bloc.bloc-user-container, .singlePodcastContainer > p.bloc-user-container {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .bloc.bloc-user-container, .singlePodcastContainer > p.bloc-user-container {
    padding-top: 1rem;
  }
}

.picto.userPicto {
  position: relative;
  display: flex;
}

a.userLinkedin {
  position: absolute;
  bottom: -2rem;
  right: 0;
  height: 4rem;
  width: 4rem;
  box-sizing: border-box;
  border-radius: 2rem;
  background-image: url(image/linkedin-blanc.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center center;
  background-color: #13D4EB;
  transition: background-color .4s;
}

a.userLinkedin:hover {
  background-color: #FA7268;
}

a.userLinkedin:active {
  background-color: #000;
}

.userThumbnailContainer {
  overflow: hidden;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userThumbnailContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.userTitle {
  margin-top: 0;
}

.userJob {
  font-size: 2.4rem;
  margin: 0;
}

.bloc-portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin-bottom: 4em;
}

@media screen and (max-width: 800px) {
  .bloc-portfolio {
    grid-template-columns: 1fr;
  }
}

.bloc-portfolio .portfolio {
  padding: 0;
  border-radius: 1em;
  position: relative;
  overflow: hidden;
}

.bloc-portfolio .portfolio::after {
  content: "";
  position: absolute;
  bottom: 6rem;
  width: 100px;
  height: 4px;
  border-radius: 2px;
  background: #13D4EB;
}

.bloc-portfolio .portfolio img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 1em;
}

.bloc-portfolio .portfolio .content-portfolio {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 1em;
  cursor: pointer;
}

.bloc-portfolio .portfolio .content-portfolio a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #021744;
  font-size: 2.4rem;
  font-weight: bold;
  transition: all .4s;
  width: calc(100% - 2em);
  padding: 0 1em;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .bloc-portfolio .portfolio .content-portfolio a {
    font-size: 1.8rem;
    padding: 0 .5em;
  }
}

.bloc-portfolio .portfolio:hover .content-portfolio {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  transition: all .4s;
}

.bloc-portfolio .portfolio:hover .content-portfolio a {
  color: #fff;
  transition: all .4s;
}

.bloc-portfolio-full-width {
  grid-template-columns: 1fr;
}

.bloc-title {
  text-align: center;
  margin-top: 4rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.bloc-title h2 {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .home > #page > #content > #primary > #main > article > div > .bloc-title:first-child {
    margin-top: 0;
  }
}

.bloc-title + .bloc-circulab-container {
  margin-top: 3.5rem;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin-bottom: 6rem;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  background: #fff;
  padding: 1rem;
  /* Hide the images by default */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Fading animation */
}

@media screen and (max-width: 920px) {
  .slideshow-container {
    margin-left: auto;
    margin-right: auto;
  }
}

.slideshow-container .mySlides {
  display: none;
  left: 50%;
}

.slideshow-container .prev,
.slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  transition: 0.6s ease;
  min-width: unset;
  border: #011BC8 1px solid;
  border-radius: 100% !important;
  background-color: #011BC8;
}

.slideshow-container .prev:focus, .slideshow-container .prev:active,
.slideshow-container .next:focus,
.slideshow-container .next:active {
  outline: 0;
}

.slideshow-container .prev svg,
.slideshow-container .next svg {
  margin-left: -6px;
  margin-top: -2px;
}

@media screen and (max-width: 920px) {
  .slideshow-container .prev,
  .slideshow-container .next {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

.slideshow-container .next {
  right: -19px;
}

@media screen and (max-width: 920px) {
  .slideshow-container .next {
    right: -21px;
  }
}

.slideshow-container .prev {
  left: -19px;
}

@media screen and (max-width: 920px) {
  .slideshow-container .prev {
    left: -21px;
  }
}

.slideshow-container .prev:hover,
.slideshow-container .next:hover {
  background-color: white;
}

.slideshow-container .prev:hover svg,
.slideshow-container .next:hover svg {
  fill: #011BC8 !important;
}

.slideshow-container .fade {
  animation-name: fade;
  animation-duration: .8s;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media print {
  header#masthead {
    display: none;
  }
  .screen-reader-text {
    display: none;
  }
  footer#footer {
    display: none;
  }
}
