/* Normalize */
/*! Flickity v2.2.1
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}

.flickity-prev-next-button.next {
  right: 10px;
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .blocPadding, .bloc, .bloc.blogCard .blocPadding {
    padding: 4rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .blocPadding, .bloc, .bloc.blogCard .blocPadding {
    padding: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .blocPadding, .bloc, .bloc.blogCard .blocPadding {
    padding: 1rem;
  }
}

.bloc {
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.bloc.bg-explore {
  background-image: url(image/bg-explore.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.bloc.bg-activate {
  background-image: url(image/bg-activate.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.bloc.bg-create {
  background-image: url(image/bg-create.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.title, p.title {
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .title, p.title {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 1024px) {
  .title, p.title {
    font-size: 2rem;
  }
}

.titleSection {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .titleSection {
    font-size: 4.2rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 400px) {
  .titleSection {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 400px) {
  .titleSection {
    font-size: 2.4rem;
  }
}

.titleSection a {
  text-decoration: none;
}

.titleSection a:hover {
  text-decoration: underline;
}

.bloc.blocCirculab {
  display: block;
  text-align: center;
}

.bloc-container, .bloc-circulab-container {
  display: grid;
  column-gap: 2rem;
  row-gap: 6rem;
  margin-bottom: 6rem;
}

@media screen and (min-width: 1024px) {
  .bloc-circulab-container.default {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
}

@media screen and (min-width: 800px) {
  .bloc-circulab-container.display-50-50 {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .bloc-circulab-container.display-33-66 {
    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .bloc-circulab-container.display-33-66 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .bloc-circulab-container.display-66-33 {
    grid-template-columns: 1fr 2fr;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .bloc-circulab-container.display-66-33 {
    grid-template-columns: 1fr 1fr;
  }
}

.picto {
  margin-left: auto;
  margin-right: auto;
  height: 7rem;
  width: 7rem;
  border-radius: 3.5rem;
  background: #FA7268;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picto svg {
  fill: #fff;
}

@media screen and (min-width: 1024px) {
  .picto.pictoPosition-top {
    transform: translateY(-7.5rem);
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .picto.pictoPosition-top {
    transform: translateY(-5.5rem);
  }
}

@media screen and (max-width: 800px) {
  .picto.pictoPosition-top {
    transform: translateY(-4.5rem);
  }
}

@media screen and (min-width: 1024px) {
  .marginPictoPosition-top {
    margin-top: -5.5rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .marginPictoPosition-top {
    margin-top: -3.5rem;
  }
}

@media screen and (max-width: 800px) {
  .marginPictoPosition-top {
    margin-top: -1rem;
  }
}

.bloc-circulab-container .picto, .bloc-circulab-container a.button, .bloc-circulab-container .separator {
  background-color: #13D4EB;
}

.bloc-circulab-container a.button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  transition: all .4s;
}

.designColor-blue .picto, .designColor-blue a.button, .designColor-blue .separator {
  background-color: #011BC8;
}

.designColor-blue a.button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  transition: all .4s;
}

.designColor-blue-light .picto, .designColor-blue-light a.button, .designColor-blue-light .separator {
  background-color: #5369FF;
}

.designColor-blue-light a.button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  transition: all .4s;
}

.bg-default .designColor-default .picto, .bg-default .designColor-default a.button, .bg-default .designColor-default .separator {
  background-color: #FA7268;
}

.bg-default .designColor-default a.button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  transition: all .4s;
}

.bg-sky-blue {
  background-color: #13D4EB;
}

.bg-blue-light {
  background-color: #5369FF;
}

.bg-blue {
  background-color: #011BC8;
  color: #011BC8;
}

.bg-default {
  background-color: #fff;
}

.bg-blue.designColor-default .picto, .bg-blue.designColor-default a.button, .bg-blue.designColor-default .separator, .bg-blue.designColor-blue .picto, .bg-blue.designColor-blue a.button, .bg-blue.designColor-blue .separator, .bg-blue.designColor-sky-blue .picto, .bg-blue.designColor-sky-blue a.button, .bg-blue.designColor-sky-blue .separator, .bg-blue.designColor-blue-light .picto, .bg-blue.designColor-blue-light a.button, .bg-blue.designColor-blue-light .separator {
  background-color: #fff;
  color: #011BC8;
}

.bg-blue.designColor-default .picto svg, .bg-blue.designColor-default a.button svg, .bg-blue.designColor-default .separator svg, .bg-blue.designColor-blue .picto svg, .bg-blue.designColor-blue a.button svg, .bg-blue.designColor-blue .separator svg, .bg-blue.designColor-sky-blue .picto svg, .bg-blue.designColor-sky-blue a.button svg, .bg-blue.designColor-sky-blue .separator svg, .bg-blue.designColor-blue-light .picto svg, .bg-blue.designColor-blue-light a.button svg, .bg-blue.designColor-blue-light .separator svg {
  fill: #011BC8;
}

.bg-blue.designColor-default a.button, .bg-blue.designColor-blue a.button, .bg-blue.designColor-sky-blue a.button, .bg-blue.designColor-blue-light a.button {
  background-color: #fff;
  color: #000;
  transition: all .4s;
}

.bg-blue.designColor-default a.button:hover, .bg-blue.designColor-blue a.button:hover, .bg-blue.designColor-sky-blue a.button:hover, .bg-blue.designColor-blue-light a.button:hover {
  color: #fff;
  border-color: #fff;
  background-color: #FA7268;
}

.bg-blue-light.designColor-default .picto, .bg-blue-light.designColor-default a.button, .bg-blue-light.designColor-default .separator, .bg-blue-light.designColor-blue .picto, .bg-blue-light.designColor-blue a.button, .bg-blue-light.designColor-blue .separator, .bg-blue-light.designColor-sky-blue .picto, .bg-blue-light.designColor-sky-blue a.button, .bg-blue-light.designColor-sky-blue .separator, .bg-blue-light.designColor-blue-light .picto, .bg-blue-light.designColor-blue-light a.button, .bg-blue-light.designColor-blue-light .separator {
  background-color: #fff;
  color: #5369FF;
}

.bg-blue-light.designColor-default .picto svg, .bg-blue-light.designColor-default a.button svg, .bg-blue-light.designColor-default .separator svg, .bg-blue-light.designColor-blue .picto svg, .bg-blue-light.designColor-blue a.button svg, .bg-blue-light.designColor-blue .separator svg, .bg-blue-light.designColor-sky-blue .picto svg, .bg-blue-light.designColor-sky-blue a.button svg, .bg-blue-light.designColor-sky-blue .separator svg, .bg-blue-light.designColor-blue-light .picto svg, .bg-blue-light.designColor-blue-light a.button svg, .bg-blue-light.designColor-blue-light .separator svg {
  fill: #5369FF;
}

.bg-blue-light.designColor-default a.button, .bg-blue-light.designColor-blue a.button, .bg-blue-light.designColor-sky-blue a.button, .bg-blue-light.designColor-blue-light a.button {
  background-color: #fff;
  color: #000;
  transition: all .4s;
}

.bg-blue-light.designColor-default a.button:hover, .bg-blue-light.designColor-blue a.button:hover, .bg-blue-light.designColor-sky-blue a.button:hover, .bg-blue-light.designColor-blue-light a.button:hover {
  color: #fff;
  border-color: #fff;
  background-color: #FA7268;
}

.bg-sky-blue.designColor-default .picto, .bg-sky-blue.designColor-default a.button, .bg-sky-blue.designColor-default .separator, .bg-sky-blue.designColor-blue .picto, .bg-sky-blue.designColor-blue a.button, .bg-sky-blue.designColor-blue .separator, .bg-sky-blue.designColor-sky-blue .picto, .bg-sky-blue.designColor-sky-blue a.button, .bg-sky-blue.designColor-sky-blue .separator, .bg-sky-blue.designColor-blue-light .picto, .bg-sky-blue.designColor-blue-light a.button, .bg-sky-blue.designColor-blue-light .separator {
  background-color: #fff;
  color: #13D4EB;
}

.bg-sky-blue.designColor-default .picto svg, .bg-sky-blue.designColor-default a.button svg, .bg-sky-blue.designColor-default .separator svg, .bg-sky-blue.designColor-blue .picto svg, .bg-sky-blue.designColor-blue a.button svg, .bg-sky-blue.designColor-blue .separator svg, .bg-sky-blue.designColor-sky-blue .picto svg, .bg-sky-blue.designColor-sky-blue a.button svg, .bg-sky-blue.designColor-sky-blue .separator svg, .bg-sky-blue.designColor-blue-light .picto svg, .bg-sky-blue.designColor-blue-light a.button svg, .bg-sky-blue.designColor-blue-light .separator svg {
  fill: #13D4EB;
}

.bg-sky-blue.designColor-default a.button, .bg-sky-blue.designColor-blue a.button, .bg-sky-blue.designColor-sky-blue a.button, .bg-sky-blue.designColor-blue-light a.button {
  background-color: #fff;
  color: #000;
  transition: all .4s;
}

.bg-sky-blue.designColor-default a.button:hover, .bg-sky-blue.designColor-blue a.button:hover, .bg-sky-blue.designColor-sky-blue a.button:hover, .bg-sky-blue.designColor-blue-light a.button:hover {
  color: #fff;
  border-color: #fff;
  background-color: #FA7268;
}

.textColor-default {
  color: #021744;
}

.textColor-white {
  color: #fff;
}

.textColor-white.bg-default {
  color: #021744;
}

.bloc-circulab-container .background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 0 600px 600px rgba(255, 255, 255, 0.85), 0 3px 16px rgba(0, 0, 0, 0.4);
}

.hasCta {
  position: relative;
  padding-bottom: 8rem;
}

.hasCta .ctaCirculab {
  position: absolute;
  left: 50%;
  bottom: 6rem;
  transform: translate(-50%, 0);
}

.ctaMarginTrick {
  margin-bottom: 6rem;
}

.blocCirculab.hasPano {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 1024px) {
  .blocCirculab.hasPano .blocCirculabContent {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .blocCirculab.hasPano .blocCirculabContent {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 800px) {
  .blocCirculab.hasPano .blocCirculabContent {
    padding: 0 1rem;
  }
}

.blocCirculab img.attachment-pano {
  min-width: 100%;
  height: auto;
}

.blocCirculab.hasCta.hasPano .ctaMarginTrick {
  margin-bottom: 0;
}

.bloc-defis {
  margin-bottom: 6rem;
  display: grid;
  padding: 0;
  overflow: hidden;
}

.bloc-defis h2.titleSection {
  margin-bottom: 3rem;
}

@media screen and (min-width: 1024px) {
  .bloc-defis {
    text-align: left;
    flex-flow: row;
    grid-template-columns: 2fr 1fr;
  }
  .bloc-defis h2.titleSection {
    text-align: left;
  }
}

@media screen and (max-width: 1024px) {
  .bloc-defis {
    flex-flow: column;
    grid-template-columns: 1fr;
  }
}

.defisText {
  padding: 4rem;
  margin-bottom: auto;
}

.defisImage {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .defisImage {
    min-height: 16rem;
  }
}

.defisImage img {
  width: 0;
  height: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

/* external css: flickity.css */
.bloc-partner-container {
  display: block;
}

.carousel {
  background: #fff;
}

.carousel img {
  margin-right: 10px;
  object-fit: contain;
}

@media screen and (min-width: 1024px) {
  .carousel img {
    width: 22%;
    height: 20rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .carousel img {
    width: 25%;
    height: 18rem;
  }
}

@media screen and (max-width: 800px) {
  .carousel img {
    width: 30%;
    height: 14rem;
  }
}

button.flickity-button {
  min-width: 0;
}

/* icon color */
.flickity-button-icon {
  fill: white;
}

/* smaller, dark, rounded square */
.flickity-button {
  background: #011BC8;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: all .4s;
}

.flickity-button:hover {
  background: #fff;
  border: 1px solid #000;
}

.flickity-button:hover .flickity-button-icon {
  fill: #000;
  transition: fill .4s;
}

@media screen and (max-width: 800px) {
  .flickity-prev-next-button.next {
    right: -27px;
  }
  .flickity-prev-next-button.previous {
    left: -27px;
  }
}

.flickity-prev-next-button {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1.75rem;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 22.5%;
  top: 22.5%;
  width: 50%;
  height: 50%;
}

@media screen and (min-width: 1024px) {
  .flickity-prev-next-button.previous {
    left: -6rem;
  }
  .flickity-prev-next-button.next {
    right: -6rem;
  }
}

.partnerTitle {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  .partnerTitle {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .partnerTitle {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .partnerTitle {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}

.bloc-book-container {
  padding: 0;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .bloc-book-container {
    display: flex;
    flex-flow: row;
  }
}

@media screen and (max-width: 1024px) {
  .bloc-book-container {
    display: flex;
    flex-flow: column;
  }
}

.bookText, .bookCover {
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .bookText, .bookCover {
    max-width: 50%;
  }
}

.bookCover {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .bookCover {
    max-height: 22rem;
  }
}

.bookCover img {
  min-width: 100%;
  min-height: 100%;
  margin: auto;
  object-fit: cover;
}

.bookCover {
  position: relative;
}

.buttonModal.bookCta {
  position: absolute;
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  .buttonModal.bookCta {
    bottom: 4rem;
    right: 4rem;
  }
}

@media screen and (max-width: 1024px) {
  .buttonModal.bookCta {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.bookButton {
  min-width: auto;
  flex: 0;
  max-width: content;
}

.bloc-event-container {
  text-align: center;
  margin-bottom: 6rem;
}

.eventCardContainer {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  margin-bottom: 6rem;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .eventCardContainer {
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .eventCardContainer {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  }
}

.eventCard.bloc {
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .eventCard.bloc .eventHeader {
    padding: 4rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .eventCard.bloc .eventHeader {
    padding: 3rem 2rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .eventCard.bloc .eventHeader {
    padding: 3rem 1rem;
    padding-bottom: 1rem;
  }
}

.eventCard .entry-meta {
  text-align: center;
  width: 100%;
}

.eventCard p.title {
  margin: 0;
  margin-bottom: 2rem;
}

.eventCard .separator {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.eventInfo {
  font-weight: 300;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

h2.eventName {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  h2.eventName {
    min-height: 3em;
  }
}

@media screen and (max-width: 1024px) {
  h2.eventName {
    min-height: 2.8em;
  }
}

.backgroundEvent {
  margin: 0;
  padding: 0;
  min-width: 100%;
  height: 100%;
  max-height: 20rem;
  overflow: hidden;
  display: flex;
}

.backgroundEvent img {
  object-fit: cover;
  height: 0;
  width: 0;
  min-height: 20rem;
  min-width: 100%;
  margin: auto;
}

.ctaContainer {
  margin-top: auto;
  display: block;
  padding-bottom: 6rem;
  position: relative;
  width: 100%;
}

.cta.button {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  min-width: 12rem;
}

.filterContainerEvent select {
  color: #fff;
  border: 1px solid #fff;
  padding: 0.75rem 4.5rem 0.75rem 1.5rem;
  border-radius: 2.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("image/arrow_select.svg") 90%/12% no-repeat #FA7268;
  background-size: 1.5rem;
}

.showMoreContainer {
  display: flex;
}

.showMore {
  margin: auto;
}

#archiveContainer .singleEvent:nth-of-type(n+7) {
  display: none;
}

#archiveContainer.showMoreItems .singleEvent:nth-of-type(n+7) {
  display: block;
}

a.title {
  text-decoration: none;
  transition: all .4;
}

a.title:hover {
  color: #FA7268;
}

a.title:focus, a.title:active {
  color: #011BC8;
}

.bloc.blogCard {
  padding: 0;
  display: block;
  overflow: hidden;
  text-align: left;
  margin-bottom: 6rem;
}

.bloc.blogCard p {
  line-height: 1.5;
}

.blogButtonContainer {
  text-align: center;
}

.blogCard .size-pano {
  display: block;
}

.blogCard .size-bg {
  display: none;
}

.bloc-post-container .blogCard .size-pano {
  display: none;
}

.bloc-post-container .blogCard .size-bg {
  display: block;
}

@media screen and (max-width: 800px) {
  .bloc-post-container .blogCard .size-pano {
    display: block;
  }
  .bloc-post-container .blogCard .size-bg {
    display: none;
  }
}

.blogPicture {
  width: 100%;
  height: auto;
}

.blogPicture img {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
  object-fit: cover;
}

.blogPicture.blogPictureBig {
  height: auto;
}

.blogPicture.blogPictureBig img {
  min-width: 100%;
  min-height: 0;
  height: auto;
  object-fit: cover;
}

.buttonBlog {
  font-weight: 700;
}

.blogCard .entry-meta {
  font-weight: 300;
  color: #B1AAAA;
  font-size: 1.2rem;
}

.singleBlogPost .entry-meta {
  border-top: solid 1px #B1AAAA;
  padding-top: 2em;
}

@media screen and (min-width: 800px) {
  .blogFooter {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .blogFooter .buttonBlog {
    text-align: left;
  }
  .blogFooter .entry-meta {
    text-align: right;
  }
}

@media screen and (max-width: 800px) {
  .blogFooter {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .blogFooter .buttonBlog,
  .blogFooter .entry-meta {
    text-align: center;
  }
  .blogFooter .entry-meta {
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #B1AAAA;
  }
}

.bloc.bloc-user-container {
  padding: 0;
  display: grid;
  column-gap: 2rem;
  row-gap: 6rem;
  align-items: flex-start;
}

@media screen and (min-width: 1024px) {
  .bloc.bloc-user-container {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .bloc.bloc-user-container {
    padding-top: 4rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .bloc.bloc-user-container {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .bloc.bloc-user-container {
    padding-top: 1rem;
  }
}

.picto.userPicto {
  position: relative;
  display: flex;
}

a.userLinkedin {
  position: absolute;
  bottom: -2rem;
  right: 0;
  height: 4rem;
  width: 4rem;
  box-sizing: border-box;
  border-radius: 2rem;
  background-image: url(image/linkedin-blanc.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center center;
  background-color: #13D4EB;
  transition: background-color .4s;
}

a.userLinkedin:hover {
  background-color: #FA7268;
}

a.userLinkedin:active {
  background-color: #000;
}

.userThumbnailContainer {
  overflow: hidden;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userThumbnailContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.userTitle {
  margin-top: 0;
}

.userJob {
  font-size: 2.4rem;
  margin: 0;
}

.bloc-portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin-bottom: 4em;
}

@media screen and (max-width: 800px) {
  .bloc-portfolio {
    grid-template-columns: 1fr;
  }
}

.bloc-portfolio .portfolio {
  padding: 0;
  border-radius: 1em;
  position: relative;
  overflow: hidden;
}

.bloc-portfolio .portfolio::after {
  content: "";
  position: absolute;
  bottom: 6rem;
  width: 100px;
  height: 4px;
  border-radius: 2px;
  background: #13D4EB;
}

.bloc-portfolio .portfolio img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 1em;
}

.bloc-portfolio .portfolio .content-portfolio {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 1em;
  cursor: pointer;
}

.bloc-portfolio .portfolio .content-portfolio a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #021744;
  font-size: 2.4rem;
  font-weight: bold;
  transition: all .4s;
  width: calc(100% - 2em);
  padding: 0 1em;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .bloc-portfolio .portfolio .content-portfolio a {
    font-size: 1.8rem;
    padding: 0 .5em;
  }
}

.bloc-portfolio .portfolio:hover .content-portfolio {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  transition: all .4s;
}

.bloc-portfolio .portfolio:hover .content-portfolio a {
  color: #fff;
  transition: all .4s;
}

.bloc-portfolio-full-width {
  grid-template-columns: 1fr;
}

.bloc-title {
  text-align: center;
  margin-top: 4rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.bloc-title h2 {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .home > #page > #content > #primary > #main > article > div > .bloc-title:first-child {
    margin-top: 0;
  }
}

.bloc-title + .bloc-circulab-container {
  margin-top: 3.5rem;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin-bottom: 6rem;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  background: #fff;
  padding: 1rem;
  /* Hide the images by default */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Fading animation */
}

@media screen and (max-width: 920px) {
  .slideshow-container {
    margin-left: auto;
    margin-right: auto;
  }
}

.slideshow-container .mySlides {
  display: none;
  left: 50%;
}

.slideshow-container .prev,
.slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  transition: 0.6s ease;
  min-width: unset;
  border: #011BC8 1px solid;
  border-radius: 100% !important;
  background-color: #011BC8;
}

.slideshow-container .prev:focus, .slideshow-container .prev:active,
.slideshow-container .next:focus,
.slideshow-container .next:active {
  outline: 0;
}

.slideshow-container .prev svg,
.slideshow-container .next svg {
  margin-left: -6px;
  margin-top: -2px;
}

@media screen and (max-width: 920px) {
  .slideshow-container .prev,
  .slideshow-container .next {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

.slideshow-container .next {
  right: -19px;
}

@media screen and (max-width: 920px) {
  .slideshow-container .next {
    right: -21px;
  }
}

.slideshow-container .prev {
  left: -19px;
}

@media screen and (max-width: 920px) {
  .slideshow-container .prev {
    left: -21px;
  }
}

.slideshow-container .prev:hover,
.slideshow-container .next:hover {
  background-color: white;
}

.slideshow-container .prev:hover svg,
.slideshow-container .next:hover svg {
  fill: #011BC8 !important;
}

.slideshow-container .fade {
  animation-name: fade;
  animation-duration: .8s;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.wp-block {
  max-width: unset;
}
