//graphic elemnt in background - for desktop only
#content {
    @media screen and (min-width: $desktop_width) {
        background-image: url(image/background_top.svg);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        min-height: 42vw;
        margin-bottom: 8rem;
    }
}

//Spacing - menu menuTopbar
#content {
    padding-top: 10rem;
}

.bloc-post-container,
.bloc-event-container,
.bloc-circulab-container,
.bloc-defis-container,
.bloc-book-container,
.bloc-partner-container,
.podcast-container,
.bloc-user-container,
#form-contact,
.filterContainer,
.showMoreContainer {
    margin-bottom: 6rem;
}

.bloc-post-container,
.bloc-event-container,
.bloc-circulab-container,
.bloc-defis-container,
.bloc-book-container,
.bloc-partner-container,
.podcast-container {
    p {
        //min-height: 3.5em;
    }
    p.heightAuto {
        min-height: auto;
    }
}

// Podcast Style
.picto.podcastPicto {
    background-color: $circulab_green;
}

audio {
    margin-top: 3rem;
    //background: $circulab_green;
}

.bloc.podcastBg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: $white;
    position: relative;
    // Ligth white filter - for lisibility
    box-shadow: inset 0 0 600px 600px rgba(255, 255, 255, 0.4), 0 3px 16px rgba(0, 0, 0, 0.4);
    p {
        text-align: left;
    }
}

.podcastLinkContainer {
    position: absolute;
    right: 0;
    top: 0;
    @extend .blocPadding;
    font-size: 1.2rem;
    display: flex;
    flex-flow: row nowrap;
    a.podcastLinkApple,
    a.podcastLinkSpotify {
        text-decoration: none;
        margin-left: 1rem;
        padding-top: 3.5rem;
        transition: all .4s;
        display: inline-block;
        &:hover {
            transform: scale(1.1);
        }
        &:active {
            color: $circulab_pink;
        }
    }
    .podcastLinkApple {
        background: url(image/podcast_icon_applemusic.svg);
        background-repeat: no-repeat;
        background-size: 3rem 3rem;
        background-position: center 0;
    }
    .podcastLinkSpotify {
        background: url(image/podcast_icon_spotify.svg);
        background-repeat: no-repeat;
        background-size: 3rem 3rem;
        background-position: center 0;
    }
}

.singlePodcastContainer>p {
    @extend .bloc;
    margin-bottom: 6rem;
}

// Archive
.archivePage {
    display: grid;
    column-gap: 2rem;
    row-gap: 6rem;
    margin-bottom: 6rem;
    @media screen and (min-width: $desktop_width) {
        grid-template-columns: repeat(12, 1fr);
        .singleEvent {
            grid-column: span 3;
        }
        .singlePost {
            grid-column: span 4;
        }
        .singleEvent:nth-of-type(-n+2) {
            grid-column: span 6 !important;
        }
        .singlePodcast {
            grid-column: span 6;
        }
        .navigation,
        .showMoreContainer,
        .bloc-defis {
            grid-column: span 12;
        }
    }
    @media screen and (max-width: $desktop_width) and (min-width: $tablet_width) {
        grid-template-columns: repeat(6, 1fr);
        .singleEvent {
            grid-column: span 3;
        }
        .singlePost {
            grid-column: span 4;
        }
        .singlePodcast {
            grid-column: span 6;
        }
        .navigation,
        .showMoreContainer,
        .bloc-defis,
        .singlePost {
            grid-column: span 6;
        }
    }
    @media screen and (max-width: $tablet_width) {
        grid-template-columns: repeat(1, 1fr);
        .singleEvent,
        .singlePost,
        .singlePodcast,
        .navigation,
        .showMoreContainer,
        .bloc-defis,
        .singlePost {
            grid-column: span 1;
        }
    }
}

// Archive podcast
.bloc.singlePodcast {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    img.attachment-pano {
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        height: auto;
    }
    .title,
    .podcastInfo,
    .podcastTitle {
        @media screen and (min-width: $desktop_width) {
            padding: 0 4rem;
        }
        //on tablet
        @media screen and (max-width: $desktop_width) and (min-width: $tablet_width) {
            padding: 0 2rem;
        }
        //on mobile
        @media screen and (max-width: $tablet_width) {
            padding: 0 1rem;
        }
    }
}

.podcastInfo {
    margin-bottom: 0.5rem;
}

.podcastTitle {
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 4rem;
}

.white {
    color: white;
}

.ctr {
    text-align: center;
}