//on mobile, #footer background -> blue
//on desktop, .footerBackgroundTrick background -> blue
#content {
    z-index: 10;
}

#footer {
    background: $circulab_blue;
    width: 100%;
}

@media screen and (min-width: $desktop_width) {
    //graphics elements are shown above the content of the footer
    #footer {
        background-color: $circulab_blue;
        //background-image: url(image/background_left.svg), url(image/background_right.svg);
        background-position: left bottom, right bottom;
        background-repeat: no-repeat;
        background-size: 246px, 200px;
    }
}

//graphic elements at the bottom of the page
// desktop background
@media screen and (min-width: $desktop_width) {
    .footerBackgroundTrick {
        display: none;
        z-index: -10;
        position: relative;
        width: 100%;
        /*&:after {
    content: "";
    position: absolute;
    height: 310px;
    width: 391px;
    bottom : 0;
    //left: -100vw;
    background-image: url(image/background_left.svg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    //z-index: -1000;
    }

  &:before {
    content: "";
    position: absolute;
    height: 585px;
    width: 200px;
    bottom : 0;
    right: 0;
    background-image: url(image/background_right.svg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    //z-index: -1000;
    }*/
    }
}

#footer {
    display: flex;
    //flex-flow: column;
    color: $white;
}

.footerSafeSpace {
    // Special padding on desktop devices (because of the graphic elements in background)
    @media screen and (min-width: $desktop_width) {
        margin: auto;
    }
    @media screen and (min-width: $desktop_width) and (max-width: 1600px) {
        padding: 0 190px 6rem 280px; // top blueBackgroundElement bottom redBackgroundElement
        //max-width: $footerSafeSapce;
    }
    //on tablet
    @media screen and (max-width: $desktop_width) and (min-width: $tablet_width) {
        padding: 2rem;
    }
    //on mobile
    @media screen and (max-width: $tablet_width) {
        padding: 1rem;
    }
}

.footerHeader {
    min-width: 100%;
}

.footerHeader {
    //on desktop
    @media screen and (min-width: $tablet_width) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    // on mobile
    @media screen and (max-width: $tablet_width) {
        display: flex;
        flex-flow: column wrap;
    }
}

//Style of the footer link .menu-item
.footer .menu-item a {
    transition: color .2s;
    &:hover {
        color: $circulab_pink;
    }
    &:active {
        color: $black;
    }
}

ul#menu-menu_footer,
.footerSocialMedia {
    display: flex;
    flex: 1;
    //on desktop
    @media screen and (min-width: $tablet_width) {
        //max-width: 48%;
        flex-flow: row wrap;
        align-items: center;
        //child elements
        .menu-item:first-of-type,
        .socialMediaItem:first-of-type {
            margin-left: 0;
        }
    }
    // on mobile
    @media screen and (max-width: $tablet_width) {
        flex-flow: column wrap;
        justify-content: center;
        text-align: center;
        //child elements
        .menu-item,
        .socialMediaItem {
            margin-top: 2rem;
        }
        .menu-item:first-of-type,
        .socialMediaItem:first-of-type {
            margin-top: 0;
        }
    }
}

.footerSocialMedia {
    @media screen and (min-width: $tablet_width) {
        max-width: 20rem;
    }
}

#menu-menu_footer .menu-item {
    margin-right: 1rem;
}

ul#menu-menu_footer {
    padding: 4rem 0 0;
}

// on mobile
@media screen and (max-width: $tablet_width) {
    .footerSocialMedia {
        padding-bottom: 6rem;
    }
}

a.socialMediaItem {
    img {
        //interactivity - icone style
        //opacity: 0.75;
        box-sizing: border-box;
        width: 4.5rem;
        height: auto;
        border-radius: 0.5rem;
        padding: 1rem;
        background: $transparent;
        transition: all .4s;
        // on mobile
        @media screen and (max-width: $tablet_width) {
            margin-top: 1rem;
        }
    }
    &:hover img {
        background: $black;
        //opacity: 1;
    }
    &:active img {
        background: $circulab_pink;
        //opacity: 1;
    }
}

.footerSocialMedia {
    // on desktop
    @media screen and (min-width: $tablet_width) {
        justify-content: flex-end;
    }
}

ul#menu-menu_footer {
    margin: 0;
    padding-left: 0;
    z-index: 99;
}

.footerLastText {
    text-align: center;
    font-size: 1.4rem;
    line-height: 2em;
    //on desktop
    @media screen and (min-width: $tablet_width) {
        margin-top: 3rem;
    }
}