// Container of the public menu + connect menu
#mastheadAnchor {
    position: relative;
}

header#masthead {
    background: $circulab_pink;
    width: auto;
    z-index: 1000 ! important;
    //on mobile
    @media screen and (max-width: $desktop_width) {
        position: absolute;
        padding: 0.5rem 0;
    }
    //On scroll : a shadow appears (desktop)
    @media screen and (min-width: $desktop_width) {
        position: fixed;
        padding: 1rem 0;
        transition: box-shadow .4s;
        &.hasShadow {
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
        }
    }
}

.pageTitleContainer {
    @extend .fontTitle;
    //on desktop, with graphic elements background
    @media screen and (min-width: $desktop_width) {
        color: $white;
        text-shadow: 0 0 6px $circulab_pink; //lisibility if .pageTitle is very long
    }
    //on tablet + mobile, on white background
    @media screen and (max-width: $desktop_width - 1) {
        color: $circulab_pink;
    }
}

.pageTitle,
.homeTitle,
.pageExcerpt {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.pageTitle {
    line-height: 1.5;
    margin-bottom: 6rem;
    strong {
        font-weight: $bold;
    }
    @media screen and (min-width: $desktop_width) {
        font-size: 4.2rem;
    }
    @media screen and (max-width: $desktop_width) and (min-width: $mobile_width) {
        font-size: 3.2rem;
    }
    @media screen and (max-width: $mobile_width) {
        font-size: 2.4rem;
    }
}

// Homepage Title
.homeTitle {
    line-height: 1.2;
    margin-bottom: 4rem;
    @media screen and (min-width: $desktop_width) {
        font-size: 4vw;
    }
    @media screen and (max-width: $desktop_width) and (min-width: $mobile_width) {
        font-size: 3.25rem;
    }
    @media screen and (max-width: $mobile_width) {
        font-size: 2.4rem;
    }
}

.pageExcerpt {
    line-height: 1.2;
    margin-bottom: 4rem;
    @media screen and (min-width: $desktop_width) {
        font-size: 2.8rem;
        margin-bottom: 0;
    }
    @media screen and (max-width: $desktop_width) and (min-width: $mobile_width) {
        font-size: 2.2rem;
    }
    @media screen and (max-width: $mobile_width) {
        font-size: 2rem;
    }
}

// Homepage style
.watermark {
    text-align: center;
    @media screen and (min-width: $tablet_width) {
        position: relative;
        &::after {
            position: absolute;
            top: -30px;
            left: -60px;
            content: "";
            width: 200px;
            height: 200px;
            background-image: url(image/watermark.png);
            background-size: contain;
            background-repeat: no-repeat;
            //opacity: 0.3;
            @media screen and (min-width: $wide_width) {
                width: 24vw;
                height: 24vw;
            }
        }
    }
}

.home .pageTitleContainer {
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    @media screen and (min-width: $desktop_width) {
        min-height: 25vw;
        * {
            max-width: 70vw;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media screen and (min-width: $wide_width) {
        //min-height: 24vw; // Watermark image is complete
        * {
            max-width: 50vw;
        }
    }
}