header#masthead {
  //position: fixed;
  top: 0;
  margin: 0;
  width: 100%

}

header#masthead .wrapper, .menuTopbar{
    // on desktop
    @media screen and (min-width: $desktop_width) {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    }
    // on mobile
    @media screen and (max-width: $desktop_width) {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items:center;
    }
}

.menuTopbar {
  width: 100%;
  font-size: 1.2rem;

    // on desktop
    @media screen and (min-width: $desktop_width) {
    // justify-content: space-between;
  }
}


// on mobile
@media screen and (max-width: $desktop_width) {

  .menuTopbarLogoDesktop  {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;}
    .menuTopbarLogoDesktop.menuMobileOpen {
    box-shadow: 0 1px 0 $white;
  }
}

.menuTopbarNav, #menu-menu_header, #menu>.primary { 

  // on desktop
  @media screen and (min-width: $desktop_width) {
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  // on mobile
  @media screen and (max-width: $desktop_width) {
    display: flex;
    flex-flow: column;
      margin-left: auto;
      margin-right: auto;
    #menu {
      margin: auto;
      width: -moz-max-content;
      width: -webkit-max-content;
      width: max-content;
      text-align: left;
    }
    .sub-menu {
      padding-left: 2rem;
      text-align: left;
      border-left: 1px solid rgba(255,255,255, 0.5);
      //border-top: 1px solid rgba(255,255,255, 0.5);
      //border-bottom: 1px solid rgba(255,255,255, 0.5);
      margin-top: 0.5rem;
    }
  }
}

// on mobile
@media screen and (max-width: $desktop_width) {
  .polylang_switch, .buttonModal {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2rem;
  }
}

#menuTopbar .menu-item a {
  // on mobile
  @media screen and (max-width: $desktop_width) {
    display: flex;
    flex-flow: column;
    // align-items: justify-content;
    text-align: center;
  }
}

// on mobile
@media screen and (max-width: $desktop_width) {

  #menuMobile {
    display: none;
  }

  #menuMobile.menuMobileOpen {
    display: flex;
    padding: 2rem 0;
    width: 100%;
  }
}

.menu-item a, .polylang_switch {
  // on desktop
  @media screen and (min-width: $desktop_width) {
  margin-right: 2rem;
  }
}

  //on mobile
.menu-item {
  @media screen and (max-width: $desktop_width) {
  margin: 1.5rem 0;
  }
}

.menuConnect, .polylang_switch {
  // on desktop
  @media screen and (min-width: $desktop_width) {
  margin: 1rem 0;
  }

  @media screen and (max-width: $desktop_width) {
  margin-left : auto;
  margin-right: auto;
  }
}

.menuTopbar ul {
  margin: 0;
  padding: 0;
}

// Style of the connection menu

.menu-item a {
  text-decoration: none;
  color: $white;

  &:hover {
  color: $circulab_light_blue;
  text-decoration: none;
  }
  &:active {
  color: $black;
  }
  &:focus {
    background: $white;
    color: $circulab_pink;
  }
}

//current page link is bolder

header#masthead .menu-item.active a:link {
  font-weight: $bold;
}

//interactivty : effect on link:hover
#menu .menu-item a{
  position: relative;
  &:after {
    content: " ";
    position: absolute;
    width: 0%;
    background: $white;
    height: 1px;
    bottom: -0.5rem;
    right: 0;
    transition: width .2s;
  }
}

#menu .menu-item a:hover{
    &:after {
    //width: 100%;
    left: 0;
    }
}

// .sub-menu Style

// on desktop
@media screen and (min-width: $desktop_width) {

  #menu .menu-item-has-children {
    position: relative;
    .sub-menu {
      position: absolute;
      //top: -3rem;
      top: 3rem;
      opacity: 0;
      transition: all .8s;

      .menu-item {
        padding: 1rem 0.5rem;
        background-color: white;
        transition: all .4s;
        a {
          color: $circulab_pink;
          transition: all .4s;
        }

        &:hover {
          background-color: $lightGray;
          a {
            color: $white;
          }
        }
        a:focus {
          color: $circulab_blue;
        }
      }
    }
  }

  .sub-menu .menu-item a:after {
    display: none;
  }

  #menu .menu-item-has-children .menu-item {
    border-top: 1px solid $circulab_pink;
  }

  #menu .menu-item-has-children {
    &:hover, &:focus {
      .sub-menu {
        opacity: 1;
        //top: 3rem;
        transition: all .4s;
      }
    }
  }

}




// Style of Polylang switch
select#lang_choice_1 {
  color: $white;
  border: 1px solid $white;
  padding: 0.75rem 4.5rem 0.75rem 1.5rem;
  border-radius: 2.5rem;

  // custom arrow in the select element
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("image/arrow_select.svg") 90% / 12% no-repeat $circulab_pink;
  background-size: 1.5rem;
}

.burgerButton {
  background: $transparent;
  min-width: auto;
  fill: $white;
  transition: all .2s;
  &:hover, &:focus {
    fill: $black;
  }
  &:active {
    fill: $circulab_blue;
  }
  p {
    color: inherit;
    transition: all .2s;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}

.closeMobile.rounded-corner, .closeModal {
  width: 4rem;
  height: 4rem;
  min-width: 0;
  border-radius: 2rem;
  background: $transparent;
  margin-left: auto;
  transition: all .2s;
  border: 1px solid $white;
  //margin-right: 0;
  &:hover, &:focus {
    color: $black;
  }
  &:active {
    color: $circulab_blue
  }

  // on mobile
  @media screen and (max-width: $desktop_width) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}#login-password {
  margin-bottom: 6rem;
}

.closeModal {
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  align-items: center;
}

.polylang_switch {

  // on desktop
  @media screen and (min-width: $desktop_width) {
    margin: 0 1rem;
  }

  // on mobile
  @media screen and (max-width: $desktop_width) {
    order: 100;
  }
}

.separator {
  min-height: 4px;
  border-radius: 2px;
  width: 10rem;
  margin: 1rem auto;
}

.separator-thin {
  height: 1px;
  width: 10rem;
  margin: 1rem auto;
  border-radius: none;
}

#wp-submit {
  padding: 1rem 1.75rem;
  border-radius: 2.5rem;
  &:active {
    border: 1px solid $circulab_blue;
  }
}


// Menu Connect

  .avatarContainer {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    &>img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: auto;
    }
  }



  // on desktop
  @media screen and (min-width: $desktop_width) {


      button.toggleConnect {
        height: 3rem;
        background: $transparent;
        min-width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          fill: $white;
          transition: all .4s;
          &:hover {
            fill: $circulab_blue;
          }
          &:active, &:focus {
            fill: $black;
          }
        }
      }

      #menuConnect {
          .menu-item {
            padding: 1rem 0.5rem;
            background-color: white;
            transition: all .4s;
            border-bottom: 1px solid $circulab_pink;
            a {
              color: $circulab_pink;
              transition: all .4s;
            }

            &:hover {
              background-color: $lightGray;
              a {
                color: $white;
              }
            }
            a:focus {
              color: $circulab_blue;
            }
          }
        }

    #menuConnect {
      opacity: 0;
      position: absolute;
      top: 4rem;
      transition: opacity .8s;
    }

    #menuConnect.menuConnectOpen {
      opacity: 1;
    }

    .menuConnectContainer {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      position: relative;
    }

  }

  // on mobile
  @media screen and (max-width: $desktop_width) {
    .menuConnectContainer {
      display: flex;
      flex-flow: column wrap;
      width: 100%;
      align-items: center;
    }
    .avatarContainer {
      margin-top: 2rem;
    }
  }

  .menu-website{
    position: fixed;
    z-index: 999;
    top:1em;
    right: 1em;
    //transform: translate(-0%, -0%);
    text-align: right;
    width:150px;
    @media screen and (max-width: $desktop_width) {
      right:50%;
      top:2em;
      transform: translate(50%, 0%);
      text-align: center;
    }
    @media screen and (max-width: $tablet_width) {
      right:40%; 
    }
    
    margin:.5em;
    color:$white;
    
    font-size:.75em;
    a{
      text-decoration: none;
    }
    img{
      margin-right:.5em;
    }
    ul{
      text-align: left;
      display:none;
      padding:0.5em;;
      background-color: $white;
      li{
        padding:.5em;
        a{
          color:$circulab_pink;
        }
        &:hover{
          background-color: $lightGray;
          a{
            color:white;
          }
        }
      }
    }
    #menu-website-open{
      &:focus-visible, &:focus, &:active, &:hover{
        ul{
          display:block;
        }
      }
      
    }
  }