.modal{
    width:50vw;
    height:50vh;
    @media screen and (max-width:1024px){
      height:80vh;
    }
    @media screen and (max-width:800px){
      width:80vw;
    }
    position: fixed;
    z-index:20001;
    top:-100vh;
    left:50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    &.active{
        top:50%;
    }
}
#BGmodal{
    z-index:20000;
    width:100vw;
    height:100vh;
    position: fixed;
    top:0;
    left:50%;
    transform: translate(-50%, -100%);
    transition: all 1s;
    &.active{
        top:100%;
    }
    background: $backgroundModal;
}

#connectModal {

  text-align: center;

  // bouton "se connecter"
  input#wp-submit {
    color: $white;
    background-color: $circulab_blue;
    transition: background-color .4s;
    &:hover {
      background-color: $black;
    }
  }
}

#loginform {
  color: $white;
  p.login-username, p.login-password {
    text-align: left;
  }
}
input#user_login, input#user_pass {
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  border: 1px solid $transparent;
  transition: border-color .2s;
  &:active, &:focus {
    border-color: $circulab_blue;
  }
}
