.commmunityContainer {
    display: grid;
    row-gap: 6rem;
    margin-bottom: 6rem;
    padding-bottom: 6rem;
    // on desktop, 3 columns
    // @media screen and (min-width: $desktop_width) {
    grid-template-columns: repeat(1, 1fr);
    // }
    // // on tablet, 2 columns
    // @media screen and (max-width: $desktop_width) and (min-width: $tablet_width) {
    //     grid-template-columns: repeat(2, 1fr);
    // }
    // // on mobile, 1 column
    // @media screen and (max-width: $tablet_width) {
    //     grid-template-columns: repeat(1, 1fr);
    // }
}

//USER NOT LOGGED
.sidebar {
    // on desktop, 3 columns
    @media screen and (min-width: $desktop_width) {
        grid-column: span 3;
    }
    // on tablet, 2 columns
    @media screen and (max-width: $desktop_width) and (min-width: $tablet_width) {
        grid-column: span 2;
    }
    // on mobile, 1 column
    @media screen and (max-width: $tablet_width) {
        grid-column: span 1;
    }
    #map-community {
        height: auto;
        width: 100%;
        img {
            width: 100%;
            max-width: 600px;
            height: auto;
        }
    }
    .filterContainer {
        margin-bottom: 0px;
    }
}

.leaflet-bottom.leaflet-right {
    display: none;
}

//USER LOGGED IN
.commmunityContainer.isLoggedIn .sidebar {
    grid-column: span 1;
    #map-community {
        height: auto;
        width: 100%;
    }
}

#community-users {
    /*.user{
				display:none;
		}
		.user::nth-child(-n+1){ //Les 6 premiers users
				display: block;
		}
		&.allUsers .user{
				display: block;
		}*/
}

.modal-user-connect {
    background-color: $white;
    padding: 2em;
    width: auto;
    height: auto;
    position: fixed;
    z-index: 20001;
    top: -100vh;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    border-radius: 20px;
    min-width: $tablet_width;
    max-width: $desktop_width;
    @media screen and (max-width: $desktop_width) {
        min-width: $tablet_width;
        max-width: $tablet_width;
    }
    @media screen and (max-width: $tablet_width) {
        min-width: calc(400px - 4em);
        max-width: calc(100% - 2em);
    }
    @media screen and (max-width: $mobile_width) {
        min-width: calc(350px - 4em);
        max-height: 500px;
        overflow-y: auto;


    }
    &.active {
        top: 50%;
               
    }
    .close-modal {
        position: absolute;
        top: 10px;
        right: 10px;
        margin: 0;
        padding: 0;
        width: 30px;
        height: 30px;
        min-width: unset;
        border-radius: 50%;
        background-color: $circulab_pink;
    }
    .modal-user-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a b" 
                             "c d";
        
        @media screen and (max-width: $tablet_width) {
            grid-template-columns: 1fr;
            max-height: 500px;
            max-width: 90%;
            overflow-y: auto;
            margin: 20px;

            grid-template-areas: "a" 
                                 "b" 
                                 "d" 
                                 "c";
        }
        grid-gap: 2em;
        .picto {
            grid-area: a;
            height: 200px;
            width: 200px;
            border-radius: 50%;
            @media screen and (max-width: $tablet_width) {
                height: 100px;
                width: 100px;
            }
            .userThumbnailContainer img {
                width: 200px;
                height: 200px;
                @media screen and (max-width: $tablet_width) {
                    height: 100px;
                    width: 100px;
                }
            }
            .userLinkedin {
                height: 4em;
                width: 4em;
                border-radius: 50%;
                bottom: 0;
            }
        }
        .modal-user-coordonnee {
            grid-area: b;

            .userTitle {
                text-align: left;
            }
            hr {
                border: none;
                border-bottom: solid 2px $circulab_blue;
                border-radius: 2px;
                width: 4em;
                margin: 0 0 1em;
            }
            span {
                color: $circulab_pink;
            }
        }
        .modal-user-col-left {
            grid-area: c;
            text-align: center;
            background-color: $circulab_pink;
            color: $white;
            border-radius: 20px;
        }
        .modal-user-col-right {
            //text-align: center;
            grid-area: d;
        }
    }
    
}

// Community
form#form-community {
    text-align: left;
    margin-right: auto;
    //on desktop
    @media screen and (min-width: $mobile_width) {
        display: flex;
        flex-flow: row wrap;
        .filterItem {
            margin-right: 2rem;
        }
    }
    //on mobile
    @media screen and (max-width: $mobile_width) {
        display: flex;
        flex-flow: column wrap;
    }
    //select + label
    .filterItem {
        display: flex;
        flex-flow: column;
        margin-bottom: 2rem;
    }
    h2 {
        width: 100%;
        display: block;
    }
    select {
        // option {
        //     word-wrap:break-word;
        // }
        width: 100%;
        border-radius: 0;
        color: $white;
        padding: 0.75rem 4.5rem 0.75rem 1.5rem;
        border: none;
        border-bottom: 1px solid $white;
        // custom arrow in the select element
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url("image/arrow_select.svg") 90% / 12% no-repeat;
        background-size: 1.5rem;
        &.hasPinkBg {
            background-color: $circulab_pink;
        }
        &.hasBlueBg {
            background-color: $circulab_blue;
        }
        &.hasGreenBg {
            background-color: $circulab_green;
        }
        &.hasLightGreenBg {
            background-color: $circulab_light_green;
        }
        &.hasLightBlueBg {
            background-color: $circulab_light_blue;
        }
        &.hasRedBg {
            background-color: $circulab_red;
        }
        &.hasPurpleBg {
            background-color: $circulab_purple;
        }
        &.hasOrangeBg {
            background-color: $circulab_orange;
        }
    }
    label {
        margin-bottom: 0.5rem;
    }
}

//// LAYOUT - BLOC USER (GRID)
// USER IS NOT LOGGED
.blocUserContainer {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    // margin-bottom: 6rem;
    // padding-bottom: 6rem;
    width: 100%;
    .blocSingleUSer {
        grid-column: span 1;
        cursor:pointer;
    }
    // on desktop, 3 blocUser / row
    @media screen and (min-width: 1100px) {
        grid-column: span 3;
        grid-template-columns: repeat(3, 1fr);
    }
    // on tablet, 2 blocUser / row
    @media screen and (max-width: 1100px) and (min-width: $tablet_width) {
        grid-column: span 2;
        grid-template-columns: repeat(2, 1fr);
    }
    // on mobile, 3 blocUser / row
    @media screen and (max-width: $tablet_width) {
        grid-column: span 1;
        grid-template-columns: repeat(1, 1fr);
    }
}

// USER IS LOGGED IN
.blocUserContainer.isLoggedIn {
    .blocSingleUSer {
        grid-column: span 1;
    }
    // on desktop, 3 blocUser / row
    @media screen and (min-width: 1100px) {
        grid-column: span 2;
        grid-template-columns: repeat(3, 1fr);
    }
    // on tablet, 2 blocUser / row
    @media screen and (max-width: 1100px) and (min-width: $tablet_width) {
        grid-column: span 1;
        grid-template-columns: repeat(2, 1fr);
    }
    // on mobile, 3 blocUser / row
    @media screen and (max-width: $tablet_width) {
        grid-column: span 1;
        grid-template-columns: repeat(1, 1fr);
    }
}

.toLoad {
    display: grid;

     // on desktop, 3 blocUser / row
    @media screen and (min-width: $desktop_width) {
        grid-template-columns: repeat(3, 1fr);
        .button {
            grid-column: 2;
        }
    }
    // on tablet, 2 blocUser / row
    @media screen and (max-width: $desktop_width) {
        grid-template-columns: repeat(1, 1fr);
    }

}