
form{
   .formCont, .formCheckBox{
      position: relative;
      margin-top:1em;
   }
   input[type="text"],
   input[type="email"],
   input[type="url"],
   input[type="password"],
   input[type="search"],
   input[type="number"],
   input[type="tel"],
   input[type="range"],
   input[type="date"],
   input[type="month"],
   input[type="week"],
   input[type="time"],
   input[type="datetime"],
   input[type="datetime-local"],
   input[type="color"],
   textarea {
      -webkit-backface-visibility: hidden;
      //background: $white;
      border:none;
      box-sizing: border-box;
      outline: none;
      -webkit-appearance: none;
      outline-offset: 0;
      margin-top:1em;
      width:100%;

      /*+ label{
         position:absolute;
         top:1em;
         left:1em;
         color:$gray;
         opacity: 0;
         font-size: 1.6rem;
      }
      &:focus {
         border-color: $circulab_pink;
         transition: all .4s;
         + label{
            transform: translate(0,-1.5em) scale(.8);
            opacity: 1;
            transition: transform .4s;
         }
         &::placeholder{
            opacity:0;
         }
      }
      &::placeholder{
         opacity:1;
      }*/
   }
   .formCheckBox{
       font-size:1rem;
       max-width: 50rem;
       text-align: center;
   }
   .formButton{
       margin:1em;
       text-align: center;
   }

  .contResponse{
     opacity: 0;
     max-width: 300px;
  }
  &.response{
     .contResponse{
        margin:2em auto;
        opacity: 1;
        //transition-delay: 1s;
        transition-property: opacity, margin;
        transition-duration: 1s;
        transition-timing-function: ease;
        max-width: 450px;
     }
     //*:not(.contResponse){
        //opacity: 0;
        //transition-property: all;
        //transition-duration: .5s;
        //transition-timing-function: ease;
     //}
  }
}


// Custom Style :
#form-contact.bloc, #form-event.bloc, #form-user.bloc {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  text-align: left;
  .formCont input, #contact_comments {
    flex: 1;
    width: 100%;
    padding: 1rem 1.75rem;
    border-radius: 2.5rem;
    background: $backgroundForm;
  }
  #contact_comments {
    min-height: 18rem;
  }
  .formRadio{
     text-align:left;
     input[type="radio"]{
        width:unset;
     }
     &>p{
      flex: 1;
      width: 100%;
      padding: 1rem 1.75rem;
      border-radius: 2.5rem;
      background: $backgroundForm;
     }
  }

  .formCheckBox {
    display: flex;
    flex-flow: row;
    align-items : flex-start;
    margin: 4rem auto 2rem;
    text-align: left;
    label {
      margin-left: 1rem;
    }
  }
  &#form-event.bloc .formColumnRight {
     margin-top:1.5em;
  }
}

@media screen and (min-width : $tablet_width) {
  .formColumnContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
  }
  .formColumnLeft, .formColumnRight {
    display: flex;
    flex: 1;
    flex-flow: column;
    max-width: 47%;
    margin-left: auto;
    margin-right: auto;
  }
}

#newCity{
   display: none;
   text-align: left;
}