.bloc-title {
  text-align: center;
  margin-top: 4rem; // can collapse wth upper-block margin-bottom
  padding-bottom: 2rem; // Can not collapse
  box-sizing: border-box;
  h2 {
    margin: 0;
  }
}

// Homepage : if the first bloc is .bloc-title, no margin-top
@media screen and (min-width: $desktop_width) {
  .home > #page > #content > #primary > #main > article > div > .bloc-title:first-child  {
    margin-top: 0;
  }
}

// Bloc Circulab icon: : prevent .bloc-title hidden by .bloc-circulab icon
.bloc-title + .bloc-circulab-container {
  margin-top: 3.5rem; // Because of icon-top option
}