// Style Bloc Defis

.bloc-defis {
  margin-bottom: 6rem;
  display: grid;
  padding: 0;
  overflow: hidden;


  h2.titleSection {
    margin-bottom: 3rem;
  }

  //on desktop
  @media screen and (min-width: $desktop_width) {
    text-align: left;
    flex-flow: row;
    grid-template-columns: 2fr 1fr;

    h2.titleSection {
      text-align: left;
    }
  }
  //on mobile
  @media screen and (max-width: $desktop_width) {
    flex-flow: column;
    grid-template-columns: 1fr;
  }
}


.defisText {
  padding: 4rem;
  margin-bottom : auto;

}

.defisImage {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  ///on mobile
  @media screen and (max-width: $desktop_width) {
  min-height: 16rem;
  }

  img {
    width:0;
    height: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;

  }
}
