// Default Setting for all blocs of the webbsite

.blocPadding {
  //on desktop
  @media screen and (min-width: $desktop_width) {
    padding: 4rem;
  }
  //on tablet
  @media screen and (max-width: $desktop_width) and (min-width: $tablet_width) {
    padding: 2rem;
  }

  //on mobile
  @media screen and (max-width: $tablet_width) {
    padding: 1rem;
  }
}


.bloc {
  @extend .blocPadding;
  box-shadow: 0 3px 16px rgba(0,0,0,0.4);
  background: $white;
  border-radius: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  &.bg-explore {
    background-image: url(image/bg-explore.png);
    background-repeat: no-repeat;
    background-position: left bottom;
  }
  &.bg-activate {
    background-image: url(image/bg-activate.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  &.bg-create {
    background-image: url(image/bg-create.png);
    background-repeat: no-repeat;
    background-position: center bottom;
  }
}

.title, p.title {
//on desktop
@media screen and (min-width: $desktop_width) {
  font-size: 2.4rem;
}
//on mobile
@media screen and (max-width: $desktop_width) {
  font-size: 2rem;
}
  font-weight: $bold;
  text-align: center;
}

.titleSection {

  @media screen and (min-width: $desktop_width) {
    font-size: 4.2rem;
  }

  @media screen and (max-width: $desktop_width) and (min-width: $mobile_width) {
    font-size: 3.2rem;
  }

  @media screen and (max-width: $mobile_width) {
    font-size: 2.4rem;
  }

  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
  a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}


.bloc.blocCirculab {
  display: block;
  text-align: center;
  //position: relative;
}


.bloc-container {
  display: grid;
  column-gap: 2rem;
  row-gap: 6rem;
  margin-bottom: 6rem;
}

// Affichage - Display Settings

.bloc-circulab-container {
  @extend .bloc-container;

  &.default {
    //on desktop
    @media screen and (min-width: $desktop_width) {
    grid-template-columns: repeat( auto-fit, minmax(30%, 1fr) );
    }
  }

  &.display-50-50 {
    //on desktop + tablet
    @media screen and (min-width: $tablet_width) {
    grid-template-columns: repeat( auto-fit, minmax(45%, 1fr) );
    }
  }

  &.display-33-66 {
    //on desktop
    @media screen and (min-width: $desktop_width) {
    grid-template-columns: 2fr 1fr;
    }
    //on tablet
    @media screen and (max-width: $desktop_width) and (min-width: $tablet_width) {
    grid-template-columns: 1fr 1fr;
    }
  }

  &.display-66-33 {
    //on desktop
    @media screen and (min-width: $desktop_width) {
    grid-template-columns: 1fr 2fr;
    }
    //on tablet
    @media screen and (max-width: $desktop_width) and (min-width: $tablet_width) {
    grid-template-columns: 1fr 1fr;
    }
  }
}

// Pictos
.picto {
  //position: absolute;
  //top: 8rem;
  //left: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 7rem;
  width: 7rem;
  border-radius: 3.5rem;
  background: $circulab_pink; // default color
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    fill: $white;
  }
}

.picto.pictoPosition-top {

  //on desktop
  @media screen and (min-width: $desktop_width) {
    transform: translateY(-7.5rem);
  }
  //on tablet
  @media screen and (max-width: $desktop_width) and (min-width: $tablet_width) {
    transform: translateY(-5.5rem);
  }

  //on mobile
  @media screen and (max-width: $tablet_width) {
    transform: translateY(-4.5rem);
  }
}

.marginPictoPosition-top {
  //on desktop
  @media screen and (min-width: $desktop_width) {
    margin-top: -5.5rem;
  }
  //on tablet
  @media screen and (max-width: $desktop_width) and (min-width: $tablet_width) {
    margin-top: -3.5rem;
  }

  //on mobile
  @media screen and (max-width: $tablet_width) {
    margin-top: -1rem;
  }
}


//Design color

.bloc-circulab-container {
  .picto, a.button, .separator {
  background-color: $circulab_green;
  }
  a.button:hover {
    background-color: $white;
    color: $black;
    border: 1px solid $black;
    transition: all .4s;
  }
}

.designColor-blue {
  .picto, a.button, .separator {
  background-color: $circulab_blue;
  }
  a.button:hover {
    background-color: $white;
    color: $black;
    border: 1px solid $black;
    transition: all .4s;
  }
}

.designColor-blue-light {
  .picto, a.button, .separator {
  background-color: $circulab_light_blue;
  }
  a.button:hover {
    background-color: $white;
    color: $black;
    border: 1px solid $black;
    transition: all .4s;
  }
}

.bg-default {
  .designColor-default {
    .picto, a.button, .separator {
    background-color: $circulab_pink;
    }
    a.button:hover {
      background-color: $white;
      color: $black;
      border: 1px solid $black;
      transition: all .4s;
    }
  }
}


// Bloc background-color

.bg-sky-blue {
  background-color: $circulab_green;
}

.bg-blue-light {
  background-color: $circulab_light_blue;
}

.bg-blue {
  background-color: $circulab_blue;
  color: $circulab_blue
}

.bg-default {
  background-color: $white;
}


// If colored background, elements turn white


  .bg-blue {

  &.designColor-default,
  &.designColor-blue,
  &.designColor-sky-blue,
  &.designColor-blue-light {

    .picto, a.button, .separator {

    background-color: $white;
    color: $circulab_blue;
      svg {
      fill: $circulab_blue;
      }
    }

    a.button {
    background-color: $white;
    color: $black;
    transition: all .4s;
    }

    a.button:hover {
    color: $white;
    border-color: $white;
    background-color: $circulab_pink;
    }
  }
}

.bg-blue-light {

  &.designColor-default,
  &.designColor-blue,
  &.designColor-sky-blue,
  &.designColor-blue-light {

    .picto, a.button, .separator {

    background-color: $white;
    color: $circulab_light_blue;

      svg {
        fill: $circulab_light_blue;
      }
    }

    a.button {
    background-color: $white;
    color: $black;
    transition: all .4s;
    }
    a.button:hover {
    color: $white;
    border-color: $white;
    background-color: $circulab_pink;
    }
  }
}

.bg-sky-blue {

  &.designColor-default,
  &.designColor-blue,
  &.designColor-sky-blue,
  &.designColor-blue-light {

    .picto, a.button, .separator {

    background-color: $white;
    color: $circulab_green;

      svg {
        fill: $circulab_green;
      }
    }

    a.button {
    background-color: $white;
    color: $black;
    transition: all .4s;
    }

    a.button:hover {
    color: $white;
    border-color: $white;
    background-color: $circulab_pink;
    }
  }
}



//Text color

.textColor-default {
  color: $circulab_dark_blue;
}

.textColor-white {
  color: $white;
  &.bg-default {
    color: $circulab_dark_blue;
  }
}


// Background-image
.bloc-circulab-container .background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    //Creates a white transparent filter above the background-image - for lisibility
    box-shadow: inset 0 0 600px 600px rgba(255, 255, 255, 0.85),
                0 3px 16px rgba(0,0,0,0.4); // Regular shadow
}


//.ctaContainer.hasPano {
  //padding-bottom: 4rem;
//}

//.ctaContainer:not(.hasPano) {
  //.cta.button {
    //transform: translate(-50%, 0%); // pas besoin de chevauchement
  //}
//}

.hasCta {
  position: relative;
  padding-bottom: 8rem;
  .ctaCirculab {
    position: absolute;
    left: 50%;
    bottom: 6rem;
    transform: translate(-50%, 0);
  }
}

.ctaMarginTrick {
  margin-bottom: 6rem;
}


.blocCirculab.hasPano {
  padding-left: 0;
  padding-right: 0;

  .blocCirculabContent {
    //on desktop
    @media screen and (min-width: $desktop_width) {
      padding: 0 4rem;
    }
    //on tablet
    @media screen and (max-width: $desktop_width) and (min-width: $tablet_width) {
      padding: 0 2rem;
    }

    //on mobile
    @media screen and (max-width: $tablet_width) {
      padding: 0 1rem;
    }

  }
}

.blocCirculab img.attachment-pano {
  min-width: 100%;
  height: auto;
}

.blocCirculab.hasCta.hasPano {
  .ctaMarginTrick {
    margin-bottom: 0;
  }
}
