* {
    box-sizing: border-box
}


/* Slideshow container */

.slideshow-container {
    //max-width: 1000px;
    //width: 90%;
    position: relative;
    margin-bottom: 6rem;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    background: #fff;
    padding: 1rem;
    //on tab & mobile
    @media screen and (max-width: 920px) {
        margin-left: auto;
        margin-right: auto;
        //max-width: 75%;
    }
    /* Hide the images by default */
    .mySlides {
        display: none;
        left: 50%;
    }
    /* Next & previous buttons */
    .prev,
    .next {
        &:focus,
        &:active {
            outline: 0;
        }
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: 30px;
        height: 30px;
        //  padding: -8px -10px -4px -8px;
        transition: 0.6s ease;
        min-width: unset;
        border: $circulab_blue 1px solid;
        border-radius: 100% !important;
        background-color: $circulab_blue;
        svg {
            margin-left: -6px;
            margin-top: -2px;
        }
        //on tab & mobile
        @media screen and (max-width: 920px) {
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
    }
    /* Position the "next button" to the right */
    .next {
        right: -19px;
        @media screen and (max-width: 920px) {
            right: -21px;
        }
    }
    .prev {
        left: -19px;
        @media screen and (max-width: 920px) {
            left: -21px;
        }
    }
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: white;
        svg {
            fill: $circulab_blue !important;
        }
    }
    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: .8s;
    }
    @keyframes fade {
        from {
            opacity: 0;
            transform: translateX(5%);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}