.bloc-book-container {
  padding: 0;
  overflow: hidden;
  //desktop
  @media screen and (min-width: $desktop_width) {
    display: flex;
    flex-flow: row;
  }
  //mobile
  @media screen and (max-width: $desktop_width) {
    display: flex;
    flex-flow: column;
  }
}

.bookText, .bookCover {
  box-sizing: border-box;
  //desktop
  @media screen and (min-width: $desktop_width) {
    max-width: 50%;
  }

}

.bookCover {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  //on mobile
  @media screen and (max-width: $desktop_width) {
    max-height: 22rem;
  }
  img {
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    object-fit: cover;
  }
}

.bookCover {
  position: relative;
}

.buttonModal.bookCta {
  position: absolute;
  margin-top: 0;

  @media screen and (min-width: $desktop_width) {
    bottom: 4rem;
    right: 4rem;
  }
  //on mobile
  @media screen and (max-width: $desktop_width) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

.bookButton {
  min-width: auto;
  flex: 0;
  max-width: content;
}
