
.bloc-event-container {
  text-align: center;
  margin-bottom: 6rem;
}

.eventCardContainer {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  margin-bottom: 6rem;
  width: 100%;

  //on desktop
  @media screen and (min-width: $desktop_width) {
  grid-template-columns: repeat( auto-fit, minmax(20%, 1fr) );
  }

  //on tablet
  @media screen and (max-width: $desktop_width) and (min-width: $tablet_width) {
  grid-template-columns: repeat( auto-fit, minmax(45%, 1fr) );
  }

}

.eventCard.bloc {
  padding: 0;

  .eventHeader {

    @media screen and (min-width: $desktop_width) {
      padding: 4rem;
      padding-bottom: 1rem;
    }
    //on tablet
    @media screen and (max-width: $desktop_width) and (min-width: $tablet_width) {
      padding: 3rem 2rem;
      padding-bottom: 1rem;
    }

    //on mobile
    @media screen and (max-width: $tablet_width) {
      padding: 3rem 1rem;
      padding-bottom: 1rem;
    }
  }

}

.eventCard .entry-meta {
  text-align: center;
  width: 100%;
}

.eventCard p.title {
  //text-transform: capitalize;
  margin: 0;
  margin-bottom: 2rem;
}

.eventCard .separator {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.eventInfo {
  font-weight: $light;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

h2.eventName {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: $bold;
  margin: 0;
  padding: 0;
  @media screen and (min-width: $desktop_width) {
      min-height: 3em;
  }
  @media screen and (max-width: $desktop_width) {
    min-height: 2.8em;
  }
}

.backgroundEvent {
  margin: 0;
  padding: 0;
  min-width: 100%;
  height: 100%;
  max-height: 20rem;
  overflow: hidden;
  display: flex;

  img {
    object-fit: cover;
    height: 0;
    width: 0;
    min-height: 20rem;
    min-width: 100%;
    margin: auto;
  }
}

.ctaContainer {
  //align-self: flex-end;
  margin-top: auto;
  display: block;
  padding-bottom: 6rem;
  position: relative;
  width: 100%;
}

.cta.button {
  position: absolute;
  //top: -3rem;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  min-width: 12rem;
  //text-transform: capitalize;
  //margin-top: -2rem;
  //margin-bottom: 3rem;
}

.filterContainerEvent select {
  color: $white;
  border: 1px solid $white;
  padding: 0.75rem 4.5rem 0.75rem 1.5rem;
  border-radius: 2.5rem;

  // custom arrow in the select element
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("image/arrow_select.svg") 90% / 12% no-repeat $circulab_pink;
  background-size: 1.5rem;
}

.showMoreContainer {
  display: flex;
}
.showMore {
  margin: auto;
}


#archiveContainer {
  .singleEvent:nth-of-type(n+7) {
    display: none;
  }
}


#archiveContainer.showMoreItems {
  .singleEvent:nth-of-type(n+7) {
    display: block;
  }
}
