/* external css: flickity.css */

.bloc-partner-container {
  display: block;
}

.carousel {
  background: $white;
}

.carousel img {
  margin-right: 10px;
  object-fit: contain;

  //on mobile
  @media screen and (min-width: $desktop_width) {
    width: 22%;
    height: 20rem;
  }

  //on tablet
  @media screen and (max-width: $desktop_width) and (min-width: $tablet_width) {
    width:25%;
    height: 18rem;
  }

  //on mobile
  @media screen and (max-width: $tablet_width) {
    width: 30%;
    height: 14rem;
  }
}

// Buttons styling
button.flickity-button {
  min-width: 0;

}

/* icon color */
.flickity-button-icon {
  fill: white;
}

/* smaller, dark, rounded square */
.flickity-button {
  background: $circulab_blue;
  border: 1px solid $transparent;
  transition: all .4s;

  &:hover {
    background: $white;
    border: 1px solid $black;
    .flickity-button-icon {
      fill: $black;
      transition: fill .4s;
    }
  }
}

@media screen and (max-width: $tablet_width) {

  .flickity-prev-next-button.next {
    right: -27px;
  }
  .flickity-prev-next-button.previous {
    left: -27px;
  }
}

.flickity-prev-next-button {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1.75rem;
    .flickity-button-icon {
      position: absolute;
      left: 22.5%;
      top: 22.5%;
      width: 50%;
      height: 50%;
  }
}

//on wide screen - icons are outside
@media screen and (min-width: $desktop_width) {
  .flickity-prev-next-button.previous {
    left: -6rem;
  }
  .flickity-prev-next-button.next {
    right: -6rem;
  }
}

.partnerTitle {
  margin-top: 0;

  // foolow .blogPadding values

  @media screen and (min-width: $desktop_width) {
    margin-bottom: 4rem;
  }
  //on tablet
  @media screen and (max-width: $desktop_width) and (min-width: $tablet_width) {
    margin-bottom: 2rem;
  }

  //on mobile
  @media screen and (max-width: $tablet_width) {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}
