.bloc.bloc-user-container {
  padding: 0;
  display: grid;
  column-gap: 2rem;
  row-gap: 6rem;
  align-items: flex-start;

  //grid on desktop
  @media screen and (min-width: $desktop_width) {
  grid-template-columns: repeat( auto-fit, minmax(30%, 1fr) );
  }

  //padding-top
  //on desktop
  @media screen and (min-width: $desktop_width) {
    padding-top: 4rem;
  }
  //on tablet
  @media screen and (max-width: $desktop_width) and (min-width: $tablet_width) {
    padding-top: 2rem;
  }

  //on mobile
  @media screen and (max-width: $tablet_width) {
    padding-top: 1rem;
  }

}

.picto.userPicto {
  position : relative;
  display: flex;
}

a.userLinkedin {
  position: absolute;
  bottom: -2rem;
  right: 0;
  height: 4rem;
  width: 4rem;
  box-sizing: border-box;
  border-radius: 2rem;
  background-image: url(image/linkedin-blanc.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center center;
  background-color: $circulab_green;
  transition: background-color .4s;
  &:hover {
    background-color: $circulab_pink;
  }
  &:active {
    background-color: $black;
  }
}

.userThumbnailContainer {
  //margin-top: -4rem;
  overflow: hidden;
  height: inherit;
  width:inherit;
  border-radius: inherit;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.userTitle {
  margin-top: 0;
}

.userJob {
  font-size: 2.4rem;
  margin: 0;
}
