.bloc-portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: $tablet_width) {
        grid-template-columns: 1fr;
    }
    grid-gap: 1em;
    margin-bottom:4em;
    .portfolio {
        padding: 0;
        border-radius: 1em;
        position: relative;
        overflow: hidden;
        &::after {
            content:"";
            position: absolute;
            bottom: 6rem;
            width: 100px;
            height: 4px;
            border-radius: 2px;
            background: $circulab_green;
        }
        img {
            width: 100%;
            height: auto;
            max-width: 100%;
            border-radius: 1em;
        }
        .content-portfolio {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(white, 0.85);
            border-radius: 1em;
            cursor: pointer;
            a {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $circulab_dark_blue;
                font-size: 2.4rem;
                font-weight: bold;
                transition: all .4s;
                width: calc(100% - 2em);
                padding: 0 1em;
                text-decoration: none;
                @media screen and (max-width: $desktop_width) {
                    font-size: 1.8rem;
                    padding: 0 .5em;
                }
            }
        }
        &:hover .content-portfolio {
            background-color: rgba(white, 0);
            color: $white;
            transition: all .4s;
        }
        &:hover .content-portfolio a{
            color: $white;
            transition: all .4s;
        }
    }
}

.bloc-portfolio-full-width {
    grid-template-columns: 1fr;
    .portfolioFullWidth img {
        // max-height: 420px;
    }
}