// Pour le bloc-post et archive-post du blog
a.title {
    text-decoration: none;
    transition: all .4;
    &:hover {
        color: $circulab_pink;
    }
    &:focus,
    &:active {
        color: $circulab_blue;
    }
}

// Padding in the block
.bloc.blogCard {
    padding: 0;
    display: block;
    overflow: hidden;
    text-align: left;
    margin-bottom: 6rem;
    .blocPadding {
        @extend .blocPadding;
    }
    p {
        line-height: 1.5;
    }
}

.blogButtonContainer {
    text-align: center;
}

//size-pano image on the archive_page
.blogCard {
    .size-pano {
        display: block;
    }
    .size-bg {
        display: none;
    }
}

//size-bg image on the block_blog
.bloc-post-container .blogCard {
    .size-pano {
        display: none;
    }
    .size-bg {
        display: block;
    }
    @media screen and (max-width: $tablet_width) {
        .size-pano {
            display: block;
        }
        .size-bg {
            display: none;
        }
    }
}

.blogPicture {
    width: 100%;
    //height: 18rem;
    height: auto;
    img {
        min-width: 100%;
        width: 100%;
        min-height: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.blogPicture.blogPictureBig {
    height: auto;
    img {
        min-width: 100%;
        min-height: 0;
        height: auto;
        object-fit: cover;
    }
}

.buttonBlog {
    font-weight: $bold;
}

.blogCard .entry-meta {
    font-weight: $light;
    color: $lightGray;
    font-size: 1.2rem;
}

.singleBlogPost .entry-meta {
    border-top: solid 1px $lightGray;
    padding-top: 2em;
}

.blogFooter {
    //on desktop
    @media screen and (min-width: $tablet_width) {
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: space-between;
        align-items: baseline;
        .buttonBlog {
            text-align: left;
        }
        .entry-meta {
            text-align: right;
        }
    }
    //on mobile
    @media screen and (max-width: $tablet_width) {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        .buttonBlog,
        .entry-meta {
            text-align: center;
        }
        .entry-meta {
            width: 100%;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid $lightGray;
        }
    }
}